{% extends "base-new.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block metadescription %}
	Sign up to get a new account with us. The Eventlinez has a variety of stunning products and tickets.
{% endblock %}

{% block title %}
	Reset Password Customer - Eventlinez
{% endblock %}

{% block content %}

    <section class="container" style="min-height: 75vh">
        <main class="col-12 mt-5 mb-5" style="min-height: 50vh; margin: auto;">
            <div class="row">
                <aside class="col-lg-6 pt-lg-5">
                    <img style="width: 80%; display: block; margin: auto"
                         src="{% static 'img/persoal_data.svg' %}"
                         alt="update customer img">
                </aside>

                <article class="col-lg-6 mt-6 mt-lg-2 pt-lg-2">

                    <h4 class="h4-home pt-4">Enter a new password for the user {{ request.user.first_name }}</h4>

                    <form method="post" class="col-lg-12">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.name }}">{{ field.label }}*</label>
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}

                        <button type="submit" class="buttons-primary float-right">Save Password</button>
                    </form>


                </article>

            </div>
        </main>
    </section>


    <div class="col-md-12 my-5" >
        <section class="row row-mobile justify-content-center align-items-center">
            <aside class="justify-content-center align-items-center col-lg-5"
                   style="border-radius: 0 10px 10px 0;">
                 <div   style="display: flex; padding-top: 20px">
                    <a href="{% url 'index' %}" id="back-to-home">
                        <i class="fas fa-arrow-left" style="color: #D90075;"></i>
                    </a>
                    <h4 class="text-default text-bk"> Enter a new password for the user {{ request.user.first_name }}</h4>
                </div>
                <br>
                <form method="post" class="col-lg-10 ml-sm-4">
                    {% csrf_token %}
                     {% for field in form %}
                        <div class="form-group">
                            <div for="{{ field.name }}">{{ field.label }}*</div>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}

                    <button type="submit" class="text-default button-login"> Save Password </button>
                </form>

            </aside>
        </section>
    </div>
{% endblock %}
