# Settings Django
DJANGO_SECRET_KEY=your_secret_key_here
DEBUG=True

# Database
DATABASE_URL=postgres://username:password@localhost:5432/dbname
SSH_TUNNEL_HOST=your_ssh_host.com
SSH_TUNNEL_PORT=22
SSH_TUNNEL_USER=ssh_username
SSH_TUNNEL_PASSWORD=ssh_password

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_SECRET_KEY=sk_test_your_secret_key

# Email
EMAIL_HOST=smtp.provider.com
EMAIL_PORT=587
EMAIL_HOST_USER=email_username
EMAIL_HOST_PASSWORD=email_password
DEFAULT_FROM_EMAIL=noreply@yourdomain.com

# Debug e Hosts
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Sentry
SENTRY_DSN=your_sentry_dsn_url

# Settings do Aplicativo
TIME_ZONE=America/Your_Timezone
APP_HOST=http://localhost:8000
EVENTLINEZ_FEE=0.00