{% extends "base.html" %}
{% load static %}
{% csrf_token %}
{% block title %}
	Ticket - Eventlinez!
{% endblock %}

{% block content %}
	<main style="min-height: 70vh;">

    {% if tickets %}
        <section class="col-lg-11 col-sm-12 pt-4 pb-2 m-auto">
            <h2 class="text-default text-secondary-default pl-lg-4 pl-0">
                My Tickets
            </h2>
        </section>


        <section class="col-lg-11 sect-tab-ticket">

            <table class="table col-lg-12">
                <tr>
                    <th style="border-top: transparent !important;">Tickets</th>
                    <th style="border-top: transparent !important;">Events</th>
                    <th style="border-top: transparent !important;">Guest Name</th>
                </tr>

            {% for tickets in tickets %}
{#                        {% if tickets.created_at <= tickets.event.event_date %}#}
                <tr>
                    <td class="td-ticket">
                        <p class="text-default text-default-mobile"> {{ tickets.id }}</p>
                    </td>

                    <td class="td-ticket">
                        <p class="text-default text-default-mobile"> {{ tickets.event }}</p>
                    </td>

                    <td class="text-default editable td-ticket" data-id="{{ tickets.id }}" data-type="guest_name">
                        <input type="guest_name" placeholder="Enter Your Guest Name"
                               class="input-data form-control-ticket"
                               value="{{ tickets.guest_name|default_if_none:'' }}">
                    </td>
                </tr>
            {% endfor %}

            </table>
        </section>

        <section class="d-pr col-lg-12 mb-5" style="display: flex;">
            <div class="col-lg-10"></div>
            <div class="col-lg-2 col-12">
                    <a class="button-tickets text-default"
                       href="{% url 'shop:index' %}"
                       style="border: #D90075" type="button">Save</a>
            </div>
        </section>



    {% else %}
        <section class="col-lg-11 col-sm-12 pt-4 pb-2 m-auto">
            <h2 class="text-default text-secondary-default pl-lg-4 pl-0">
                No Tickets
            </h2>
        </section>
    {% endif %}

    </main>

{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/guest-name-ticket.js' %}"></script>
{% endblock %}