{% extends 'base-new.html' %}
{% load static %}
{% block title %}
	Password reset complet - Eventlinez!
{% endblock %}

{% block content %}
    <section class="container p-0 p-lg-2" style="min-height: 75vh;">
        <main class="col-12 m-reset" style="min-height: 50vh;">
            <div class="row">

                <aside class="col-lg-6 pt-0">
                    <img style="width: 80%; display: block; margin: auto"
                         src="{% static 'img/password_reset_done.svg' %}"
                         alt="Password reset done">
                </aside>

                <article class="col-lg-6 mt-lg-5 mt-5 pt-lg-5">
                    <div class="col-12">
                        <p class="h4-home">
                            Your password has been set.
                        </p>

                        <p class="h4-home">
                            You can <a class="h4-home p-date" href="{% url 'signin' %}">sign in</a> now.
                        </p>

                    </div>
                </article>
            </div>
        </main>
    </section>
{% endblock %}
