{% extends "base-new.html" %}
{% load static %}
{% block metadescription %}{% endblock %}
{% block title %}
	About - Eventlinez!
{% endblock %}

{% block content %}
    <section class="container mt-5 mb-5" style="min-height: 75vh; margin: auto;">
        <div class="d-block">

            <aside class="col-lg-6 mt-lg-5 mb-4 mt-0" style="margin: auto;">
                <img style="width: 100%; display: block; margin: auto" src="{% static 'img/about.svg' %}" alt="Ilustração de uma banda">
            </aside>

            <article class="col-lg-8 m-auto">
                <h1 class="h3-home pt-0 pt-lg-2 pb-1 text-center">About Us</h1>
                <p class="h6-home text-center">
                We started EventLinez with the purpose of helping event promoters, bar owners, venues owners and entertainment-seekers to capture the right audience.
                </p>
                <p class="h6-home text-center mt-1">
                    Our vision is to provide a platform that is a less expensive option compared to the big brand ticketing companies. Eventlinez came up with a solution to make an easy, user-friendly platform to sell tickets at a more affordable price and secure process for all your entertainment needs!
                </p>
                <p class="h6-home mt-1 text-center" style="color: cornflowerblue;">
                    #supportlocal #socal #supportsmallbiz
                </p>
            </article>
            
        </div>

    </section>
{% endblock %}