{% extends "base-new.html" %}
{% load static %}
{% block metadescription %}{% endblock %}
{% block title %}
	Contact - Eventlinez!
{% endblock %}

{% block content %}
    <section class="container">
        <main class="col-12 mt-5 mb-5" style="min-height: 50vh; margin: auto;">
            <div class="row">
                <aside class="col-lg-6">
                    <img style="width: 80%; display: block; margin: auto"
                         src="{% static 'img/contact.svg' %}"
                         alt="Ilustração de uma pessoa no computador">
                    <div class="col-12" style="justify-content: center">
                        <h3 class="col-12 h3-home weight-height mt-4" style="text-align: center;">Questions or information?</h3>
                        <h6 class="col-lg-10 col-12 h6-home mt-0 mt-lg-4" style="text-align: center;margin: auto">
                            Please contact our support, we will be ready to answer your questions or information.</h6>
                    </div>

                </aside>

                <article class="col-lg-6 mt-5 mt-lg-0">
                    <div class="col-12">
                        <h4 class="h4-home weight-height pb-4">Send a message</h4>
                        <form role="form" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <button type="submit" name="submit" class="float-right buttons-primary">Send</button>
                        </form>
                    </div>
                </article>

            </div>
        </main>
    </section>

{% endblock %}