{% extends "base-new.html" %}
{% load static %}
{% block metadescription %}{% endblock %}
{% block title %}
	Contact - Eventlinez!
{% endblock %}

{% block content %}
    <section class="container" style="min-height: 75vh">
        <main class="col-12 mt-5 mb-5" style="min-height: 50vh; margin: auto;">
            <div class="row">
                <aside class="col-lg-6 pt-lg-4">
                    <img style="width: 80%; display: block; margin: auto"
                         src="{% static 'img/contact.svg' %}"
                         alt="Ilustração de uma pessoa no computador">
                    <div class="col-12" style="justify-content: center">
                        <h3 class="col-12 h3-home mt-2" style="text-align: center;">Questions or information?</h3>
                        <h6 class="col-lg-10 col-12 h6-home mt-0 mt-lg-4" style="text-align: center;margin: auto">
                            Please contact our support, we will be ready to answer your questions or information.</h6>
                    </div>

                </aside>
                
                <article class="col-lg-6 mt-5 mt-lg-2 pt-lg-5">
                    <div class="col-12">
                        <h4 class="h4-home weight-height pb-4">Send a message</h4>
                          <form role="form" method="POST">
                            <!-- Replace the variables below. -->
                          <script>
                            function onSubmit(token) {
                              document.getElementById("form").submit();
                                       }
                           </script>
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>

                            <button class="g-recaptcha"
                                data-sitekey="6Ld-66UpAAAAAPIy7RomMLxZm45TAv-3IT5szOo6"
                                data-callback='onSubmit'
                                data-action='submit'>
                               Submit
                            </button>
                            <!--<button type="submit" name="submit" class="float-right buttons-primary">Send</button> -->
                        </form>
                    </div>
                </article>

            </div>
        </main>
    </section>

{% endblock %}