{% extends "base-new.html" %}
{% load static %}
{% block metadescription %}{% endblock %}
{% block title %}
	Terms of service - Eventlinez!
{% endblock %}

{% block content %}
    <section class="container mt-2 mt-lg-3 mb-5" style="min-height: 70vh; margin: auto;">
        <main class="row">
             <aside class="col-lg-6 col-12 pt-0">
                <img style="width: 70%; display: block; margin: auto" src="{% static 'img/term2.png' %}" alt="Ilustration terms">
             </aside>

            <article class="col-lg-6 col-12 pt-3 p-4">
                <h2 class="h2-home p-dark pb-1">Terms & Conditions</h2>
                <p class="h6-home">
                    All sales are final. No refunds unless event is canceled.
                </p>

                <h2 class="h2-home p-dark">Limitation of Liability</h2>
                <p class="h6-home" style="text-align: justify;">
                    You understand and acknowledge that Eventlinez is a plataform that provides ticketing listing only, is not an organizer or a promoter of any event listed on our website and App, and it has no responsibility for or control over the accuracy of the event description, operation, sales or refunds, event’s management or condition of the venue in which the event is held. You understand and agree that some events may carry inherent risk, and by participating in those events, you choose to assume those risks voluntarily. Eventlinez service fee are not refundable.
                </p>

            </article>

        </main>

        <article class="col-12 pt-1 p-2">
            <h2 class="h2-home p-dark pb-1" style="margin-top: 1% !important;">Instructions</h2>

                <p class="h6-home mt-1" style="text-align: justify;">
                    The digital ticket security system generates a unique code for only one access, copies are prohibited. Once validated it can not be reused. Eventlinez and the event’s organization are not responsible for tickets purchased outside the authorized network. **NO RETURNS FROM TICKETS AND CAN NOT BE TRANSFERRED**
                    Resale of this digital ticket is prohibited, tickets purchased from third parties may be fraudulent. Eventlinez reserves the right to request the photocopy ID and credit card of the holder used in the purchase by the site to access the event. If an event is canceled, and you purchased your ticket though Eventlinez.com, we will automatically issue you a refund to the credit card or debit card that you used to purchase the ticket.
                </p>
        </article>
    </section>
{% endblock %}