{% extends "base-new.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
	Sign up to get a new account with us. The Eventlinez has a variety of stunning products and tickets.
{% endblock %}
{% block title %}
	Create a New Account Promoter- Eventlinez
{% endblock %}
{% block content %}

    <div class="new-container">
        <section class="div-left-new">
            <aside id="div-row-form">
             {% if not form_promoter.is_valid %}
                 <div class="logoimg-new">
                    <img src="{% static 'img/Eventlinez.png' %}" alt="logo">
                </div>
                <div class="div-text">
                    <h2 class="h2-text">Create New Promoter Account</h2>
                </div>
                <form method="post">
                {% csrf_token %}

                     <div >
                        <div>
                            {{ form|crispy }}
                        </div>

                    </div>

                    <button type="submit" class="button-primary-new" >Register Account Promoter</button>
                </form>
                 <div class="div-inline">
                        <hr>
                        <div>
                           or
                        </div>
                        <hr>
                 </div>
                 <button class="buttons-secondary" onclick="window.open('{% url 'shop:index'  %}','_self')">
                        Continue shopping
                 </button>
            {% else %}
                 <h4 class="text-default">Your account has been successfully created</h4>
                 <br>

                 <div>
                    <p>
                        Dear Customer,
                        <br><br>
                        Your account has been created and it is ready to use.
                        <br>
                        <a href="{% url 'shop:index' %}">Continue shopping</a> and enjoy the variety of cushions that we have at the perfect cushion store.
                    </p>
                </div>

            {% endif %}
            </aside>
        </section>
        <section class="div-right-new div-column">
            <div class="bg-box">
                <div class="box-content">
                    <h3 class="h3-home" style="color:#FFFFFF;">
                        How it works
                    </h3>

                    <article style="display: flex">
                        <div class="ico-promoter">
                            <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                        </div>

                        <div>
                            <h3 class="h3-home h3-adc">
                                <b>Organizer</b>
                            </h3>
                            <h4 class="h4-home h4-adc">
                                Create a new event<br>
                                Add event's information<br>
                                Create ticket's type<br>
                                Create your vendors
                            </h4>
                        </div>
                    </article>


                    <article style="display: flex">
                        <div class="ico-promoter">
                             <i class="fa fa-credit-card fa-4x" aria-hidden="true"></i>
                        </div>

                        <div>
                            <h3 class="h3-home h3-adc">
                                <b>Payments</b>
                            </h3>
                            <h4 class="h4-home h4-adc">
                                Standard Payout will deposit on weekly basis of the beginning of the sales.<br>
                            </h4>
                        </div>
                    </article>

                    <article style="display: flex">
                        <div class="ico-promoter">
                            <i class="fa fa-file fa-4x" aria-hidden="true"></i>
                        </div>

                        <div>
                            <h3 class="h3-home h3-adc">
                                <b>Reports</b>
                            </h3>
                            <h4 class="h4-home h4-adc">
                                Check out the final sales amount by Event.<br>
                                Check out Sales by Vendors.<br>
                                Check out the Customer list by Events.
                            </h4>
                        </div>
                    </article>


                    <article style="display: flex">
                        <div class="ico-promoter">
                             <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                        </div>

                        <div>
                            <h3 class="h3-home h3-adc">
                                <b>Client</b>
                            </h3>
                            <h4 class="h4-home h4-adc">
                                Sign un on the website<br>
                                Buy your tickets<br>
                                Receive email's confirmation<br>
                                Tickets available on tab (My tickets)
                            </h4>
                        </div>
                    </article>


                </div>
            </div>
        </section>
    </div>
{% endblock %}
