{% extends "base.html" %}
{% load static %}

{% block title %}
	Thanks - Eventlinez! We hope to see you soon.
{% endblock %}

{% block content %}
    <main style="min-height: 70vh;">

        <section class="col-lg-11 col-sm-12 m-auto">
            <h1 class="text-secondary-default pl-lg-4  mt-5 mb-3">
				Thanks for placing your order
			</h1>

            <p class="text-default text-tertiary-default pl-lg-4 m-auto" style="line-height: 1.5rem;">
				We have received your order and will begin processing right away.

                For your records an email confirmation has been sent to you.

                It contains details of the items you purchased. Your order number is: {{ customer_order.id }}
			</p>

        </section>

        {% if tickets|length > 1 %}
        <section class="col-lg-11 col-sm-12 pt-3 pb-4 m-auto">
            <h2 class="small-text text-default text-secondary-default pl-lg-4 pl-0"
                style="line-height: 2rem;
                       display: inline-block;
                       font-size: 1rem;
">
                Please provide the Guest Names for their tickets
                <span class="ml-0 pl-0">
                    <i class="fas fa-ticket-alt"></i>
                </span>

            </h2>
        </section>

        <section class="col-lg-11 sect-tab-ticket">
            <table class="table col-lg-12">
                <tr>
                    <th>Ticket</th>
                    <th>Event</th>
                    <th>Guest Name</th>
                </tr>

                {% for tickets in tickets %}
                <tr>
                    <td class="td-ticket">
                        <p class="text-default text-default-mobile"> {{ tickets.id }}</p>
                    </td>
                    <td class="td-ticket">
                        <p class="text-default text-default-mobile"> {{ tickets.event }}</p>
                    </td>
                    <td class="text-default editable td-ticket" data-id="{{ tickets.id }}" data-type="guest_name">
                        <input type="guest_name" class="input-data form-control-ticket"
                               placeholder="Enter Your Guest Name"
                               value="{{ tickets.guest_name|default_if_none:'' }}">
                    </td>
                </tr>
                {% endfor %}
            </table>

        </section>

            <div class="d-pr col-lg-12 mb-5 pb-4">
                <div class="col-lg-10"></div>
                <div class="col-lg-2 col-12">
                <a class="button-tickets text-default" href="{% url 'shop:index' %}"
                   style="border: #D90075" type="button">Save</a>
                </div>
            </div>

        {% else %}
            <div class="col-lg-12 mb-2">
                <div class="col-lg-3" style="margin: 2rem auto 2rem auto">
                    <a class="button-tickets text-default" href="{% url 'shop:index' %}"
                       style="border: #D90075;" type="button">Home</a>
                </div>
            </div>
        {% endif %}


	</main>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/guest-name-ticket.js' %}"></script>
{% endblock %}