/* Container for every body of the page */
.container-full{
    width: 100%;
    background-color: #FFFFFF;
}

@media(max-width: 600px){
    .container-full{
        width: 99%;
    }
}


#background {
    background-image: url("../../static/img/banner.jpg");
    background-position: bottom;
    background-size: cover;
    height: 60vh;
    border-radius: 30px 0 0 30px;
}

@media (min-width: 480px) {
    #background { height: 215px;
    }
}

@media(max-width: 600px){
    #background{
        height: 215px;
        width: 98%;
        margin-left: 10px;
        background-color: #0b2e13;
    }
}

@media(min-width: 1400px){
     #background{
         width: 95vw!important;
     }
}

@media (min-width: 768px) {
    #background { height: 200px;}
}

@media (min-width: 992px) {
    #background {
        height: 410px;
        width: 92vw;
    }
}

.banner{
    width: 99vw;
    height: 60vh;
    display: inline-block;
    position: relative;
    z-index: 0;
    /*left: 20px; */
}

@media(max-width: 600px){
    .banner{
        width: 97vw;
    }
}


@media(max-width: 1000px){
    #title-home{
        font-size: 2rem!important;
        line-height: 32px!important;
        width: 70vw;
        margin-top: 20px!important;
    }
    #subtitle-home{
        width: 70vw !important;
        line-height: 20px;
        margin: 0;
    }
    #button-container-body{

    }

}

#subtitle-home{
    width: 40vw;
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
     margin: 20px 0 0 60px;
}

.button-container-body{
    width: 142px;
    height: 40px;
    background: #D90075;
    border-radius: 10px;

    font-family: Nunito, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: none;
    justify-content: center;
    margin: 20px 0 0 60px;
}

#title-home{
    width: 45vw;
    font-weight: bold;
    font-size: 4rem;
    line-height: 82px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #E10087 -0.47%,rgba(96, 1, 98, 0.4));
    margin: 100px 0 0 60px;
}

#div-left-detals{
    padding-left: 85px;
}
@media(max-width: 990px){
    #div-left-detals{
        padding-left: 10px;
    }
    .pay-event-card-details{
        width: 100%!important;
        margin: 10px 0!important;
    }
    #buttons-pay-event-card-details{
        width: 95% !important;
        margin: 0 auto!important;
    }
}

@media(max-width: 600px){
    #title-home{
        width: 100%;
        margin-top: 30px;
        font-size: 28px!important;
        line-height: 41px;
        margin-left: 0;

    }
    #subtitle-home{
        width: 80vw !important;
        font-size: 14px;
        line-height: 18px;
        margin-left: 0;
    }
    .button-container-body{
        width: 104px;
        height: 30px;
        margin-left: 0;
    }
}

@media(max-width: 400px){
    #title-home{
        width: 80vw;
        margin-top: 30px;
        font-size: 24px!important;
        line-height: 31px;
        left: 30px;
    }
    #subtitle-home{
        width: 80vw !important;
        font-size: 14px;
        line-height: 14px;
        left: 30px;
    }
    .button-container-body{
        left: 30px;
    }
}
.header-filter-home{
    height: 100px;
    padding: 80px;
}
@media (max-width: 800px) {
    .header-filter-home{
        padding: 0;
        height: 100%;
        margin-bottom: 10px;
    }
}

.div-title-home{
    padding-left: 60px;
}

@media (max-width: 600px) {
   .title-section{
       width: 40% !important;
       margin-left: 30px!important;
       margin-top: 12px;
       font-size: 20px!important;
    }
    .div-title-home{
        padding-left: 0!important;
        width: 60% !important;
    }
    .nav-filter{
        width: 40% !important;

    }
    .header-filter-home {
        height: 100% !important;
        width: 100%!important;
        margin: 0!important;
        padding: 0!important;
    }

}

.title-section{
    height: 30px;
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #171717;
    margin-left: 80px;
     text-transform: capitalize;
}

#container-details{
    height: 40%;
    width: 100%;
}

@media (max-width: 990px) and (min-width: 601px){
    #container-details{
        height: 50%;
        padding-right: 0 !important;
    }
}

@media (max-width: 600px) {
    #container-details{
        height: 100%;
    }
}

#container-details-img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}


/***********APAGAR ESSE **************************/
.container-additional-details{
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 58px;
    top: 550px;
}

#box-tags{
    width: 500px;
    height: 35px;
    display: flex;
}

.box-tag{
    width: 135px;
    height: 34px;
    background: #EDEBEB;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 5px;
    padding-top: 5px;
    text-align: center;
    color: #1C1C1C;
    text-decoration: none;
    font-size: 14px;
}

.box-tag:hover{
    color: #d90075;
    text-decoration-line: none;
}

@media (max-width: 600px) {
    #box-tags{
        width: 100%;
    }

    .box-tag{
        width: 100px;
        height: 40px;
        padding-top: 10px;
        margin-top: 8px;
    }

}



/** FOTTER*/
.container-footer{
    margin-top: 30px;
    width: 100%;
    height: 274px;
    background: #312046;
    /*position: absolute;
    left: 0;
    top: 1400px;
*/
}


.footer-text{
    font-family: Nunito, serif;
    font-style: normal;
    color: #FFFFFF;
}
@media (max-width: 600px) {
    .footer-text{
        padding-left: 5px;
    }

}

.footer-title{
    padding-top: 30px;
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
}

.footer-subtitle{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.footer-subtitle:hover{
    color: #d90075;
    text-decoration: #d90075;
}

#wrapper {
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    height: 100%;
    padding-left: 30px;
}

@media (max-width: 650px) {
    #wrapper{padding-left: 0;}
}

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-left: 3px;
    padding-top: 80px;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: transparent;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}


#prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
    color: red;
}

#next {
  top: 50%;
  right: -60px;
  transform: translate(-50%, -50%);
}

#content {
    height: 300px;
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    margin: 0 0 0 60px;
    box-sizing: border-box;
    position: relative;
}

.content-all {
    height: 270px;
    width: 221px;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    margin: 0 0 40px 60px;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    border: 1px solid #dae0e5;
}

@media (max-width: 600px) {
    .content-all {
        width: 130px;
        height: 200px;
    }
}

@media (max-width: 400px) {
    .content-all {
        margin: 0 auto 10px auto;
    }
}

.item {
    width: 219px;
    height: 159px;
    border-radius: 8px 8px 0 0;
    /*border: 1px solid #f5f5f5;*/
    border-bottom-color: transparent;
}

@media (max-width: 600px) {
    .item{
        width: 128px;
        height: 110px;
    }
}

.text-default{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #171717;
}


.centralized{
    justify-content: center;
}

.text-date{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0!important;
    text-align: center;
}
.text-date-time{
    font-size: 10px!important;
}

@media(max-width: 600px){
.text-date{
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    /*display: flex;*/
    align-items: center;
    color: #171717;
}
}

.card-data{
    /*margin-left: 15px;*/
    margin-top: 5px;
    height: 80px;
    /*background-color: #FFFFFF;*/
    color: #1C1C1C;
    border-right: 1px solid grey;
    padding-left: 5px;
    /*font-size: 15px;*/
}

@media (max-width: 600px){
    .card-data{
        /*width: 70px;*/
        height: 58px;
        /*margin-top: 85px;*/
        /*margin-left: 90px;*/
        font-size: 10px;
    }
}

.card-event {
    width: 220px;
    height: 35%;
    margin-top: 160px;
    margin-left: -230px;
    display: flex;
    border: 2px solid transparent;
    border-radius: 0 0 8px 8px;
}

@media (max-width: 600px) {
    .card-event{
        width: 130px;
        height: 80px;
        margin-left: -140px;
        margin-top: 110px;
    }

}

.event-name{
    color: #000000;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .event-name{
        font-size: 10px;
        line-height: 10px;
    }

}

.event-price{
    color: #2F00ED;
    font-size: 20px;
}

.event-localization{
    color: #ACABAB;
}



.event-card-details{
    position: absolute;
    width: 419px;
    height: 737px;
    left: 893px;
    top: 150px;
    background: #F9F9F9;
    border: 2px solid #F5F2F2;
    box-sizing: border-box;
    border-radius: 30px;
}

.title-event-card-details{
    font-size: 35px;
    line-height: 48px;
    color: #171717;
}

#location-event-card-details{
    font-size: 15px;
    line-height: 20px;
    color: #171717;
}

.price-event-card-details{
    display: table-cell;
    color: #171717;

}

.table-price-bord{
    font-weight: bold;
}

.table-left{
    padding: 7px 0 7px 15px;
}

.table-right{
    text-align: right;
    padding-right:30px;
}

#buttons-pay-event-card-details{
    width: 90%;
    height: 110px;
    margin: 60px auto;
    justify-content: center;
    align-content: center;
}

@media (max-width: 600px) {
    #buttons-pay-event-card-details{
        width: 100%;
        margin: 0;
    }
    .pay-event-card-details{
        width: 90% !important;
        margin: 10px auto!important;
    }
}

.pay-event-card-details{
    width: 100%;
    height: 40px;
    background: #D90075;
    border-radius: 10px;
    color: #FFFFFF;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
    text-decoration:none;
}



.pay-event-card-details:hover {
    border: 2px solid #D90075;
    background-color: #FFFFFF;
    color: #D90075;
    text-decoration:none;
  }

.day-event-card-details{
    width: 88px;
    height: 30px;
    font-weight: bold;
    font-size: 60px;
    line-height: 82px;
    color: #D90075;
    margin: 30px auto;
}

.date-event-card-details{
    width: 200px;
    height: 30px;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    color: #171717;
    margin: 5px auto;
    text-align: center;
    justify-content: center;
}

#wrapper-login {
    margin: 0 auto 50px auto;
    height: 100%;
    padding: 0 80px 0 120px;
}

@media (max-width: 990px) {
    #wrapper-login {
        padding: 0;
        display: flex;
    }
    #wrapper-profile{
        padding: 0;
        display: flex;
        margin-bottom: 100px;

    }
    #wrapper-log{
        display: flex;
    }
}

#wrapper-log {
    margin: 0 auto 50px auto;
    height: 100%;
    padding: 0 80px 0 90px;
}

@media (max-width: 990px) {
    #wrapper-log {
        padding: 0;
    }
}

.logoimg{
    height: 41px;
    margin: 0 auto 1px auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.title-login {
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin: 40px auto 0 auto;
    color: #171717;
}

.description-login-left{
    display: flex;
    width: 100%;
    color: #ACABAB;
    margin: 0 auto;
    justify-content: center;
}

.button-login{
    display: flex;
    width: 98%;
    height: 40px;
    background: #D90075;
    border-radius: 10px;
    border: #d90075;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 60px 0 10px 0;
    justify-content: center;
    align-items: center;
}


.login-div-right{
    background-image: url("../../static/img/backgroundLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-promoter{
    background-image: url("../../static/img/promoter_signup.jpg")!important;
}
@media (max-width: 991px) {
    .login-div-right{
        display: none;
    }
}

.login-div-right-mobile{
    background-image: url("../../static/img/backgroundLoginMobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
}

.ldrmp{
    background-image: url("../../static/img/promoter_signup.jpg")!important;
}


@media (min-width: 992px) {
    .login-div-right-mobile{
        display: none;
    }
}


.logo-login{
    display: flex;
    width: 100%;
    font-weight: 800;
    font-size: 60px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 45% auto 0 auto;
    justify-content: center;
}

@media (max-width: 400px) {
    .logo-login{ font-size: 35px;}
}

@media (max-width: 800px) {
    .logo-login{
        margin-top: 60px;
    }
}

@media (max-width: 990px) and (min-width: 800px){
    .logo-login{
        margin-top: 10% !important;
    }
}



.description-login{
    display: flex;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 auto;
    justify-content: center;
    padding: 0 30px 30px 30px;
}

.cart{
    color: #D90075;
}

.left-card{
    margin-left: -275px;
}


.container-signup {
        width: 100%;
        height: 100%;
        padding: 0 100px;
}

.content-left-signin{
    background-image: url("../../static/img/backgroundsignup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
    border-radius: 30px;
}

.content-left-signin-promoter{
    background-image: url("../../static/img/promoter_signup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
    border-radius: 30px;
}

div.content-right-signin {
    width: 50%;
    display: inline-block;
    float:right;
    margin-right: 0;
    margin-bottom: 30px;
}

.text-bk{
    color: #171717;
    width: 80%;
}

.text-bk:hover{
    color: #D90075;
}
@media (max-width: 400px) {
    .text-mobile{
        font-size: small!important;
    }
    .dropdown-menu{
        min-width: 0!important;
    }
    .dropdown-item{
        padding: 0.25rem 0.5rem!important;
    }

}

#box-signup{
    margin: 0 auto;
    /*margin: 200px auto 0 auto; */
}

.subtitle-signup{
    display: flex;
    width: 100%;
    height: 41px;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
    justify-content: center;
}

.subtitle-signup-promoter{
    font-family: Nunito, 'serif';
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 55px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-align: left;
}

@media (max-width:400px) {
    .subtitle-signup-promoter {
        margin-top: 0;
         font-size: 1.4rem!important;
        line-height: 36px !important;
    }
}

@media (max-width:600px) {
    .subtitle-signup {
        margin-top: 30px;
    }
    .subtitle-signup-promoter {
        margin-top: 30px;
    }
}

@media (min-width:990px) {
    #box-signup {
        margin: 0 auto;
        padding-top: 30%;
    }
    #box-signup-promoter {
        margin: 0 auto;
        padding-top: 10%;
    }
}

.title-signup{
    width: 297px;
    height: 60px;
    background: linear-gradient(89.98deg, #E00087 17.93%, #14C7EE 95.58%);
    font-weight: 800;
    font-size: 50px;
    line-height: 68px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    justify-content: center;
}

.promoter-title{
    margin: 0!important;
}

.description-signup{
    width: 288px;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    justify-content: center;
}

#form-signup{
    width: 380px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .container-signup {
        width: 100%;
        height: 100%;
        padding: 0;
        margin-top: 10px;
    }


    .content-left-signin{
        width: 100%;
        margin: 0;
        height: 250px;
        border-radius: 30px;
    }

    .content-left-signin-promoter{
        width: 100%;
        margin: 0;
        height: 250px;
        border-radius: 30px;
    }

    #box-signup{
       margin-top: 30px!important;
    }

    #form-signup{
        width: 95% !important;
    }
    .button-login{
        height: 36px;
    }
    .title-signup{
        width: 180px!important;
        height: 41px!important;
        font-weight: bold !important;
        font-size: 30px!important;
        line-height: 41px!important;
        justify-content: center;
    }
    .text-bk{
        width: 80%;
        margin-top: 10px;
        margin-left: 10px;
    }
}

#back-to-home{
    width: 46px;
    height: 46px;
    border-radius: 10px;
    padding: 10px;
}
#back-to-home-mobile{
    align-items: center;
    width: 27px;
    height: 24px;
    background: #FFFFFF;
    border-radius: 5px;
    display: none;
    padding: 8px;
    margin: 0 0 0 10px;
}

@media(max-width: 600px) {
    #back-to-home{
        display: none;
    }
    #back-to-home-mobile{
        display: flex;
    }
    .button-cart {
        width: 250px!important;
        font-size: .8rem!important;
        line-height: 14px!important;
        margin: 0 auto 10px auto !important;
    }
}

.button-cart{
    border: 2px solid #D90075;
    box-sizing: border-box;
    border-radius: 10px;
    width: 240px;
    height: 40px;
    background: #FFFFFF;
    font-size: 1rem;
    line-height: 22px;
    color: #D90075;
    text-decoration: none;
    justify-content: center;
    margin: 0;
}

.button-cart:after{
    color: #e0a800;
}

.cart-title{
    color: #000000;
    font-size: 0.8rem!important;
}

#cart-table-th{
    padding: 0.75rem 0 0.75rem 0;
    width: 550px;
    text-align: start;
    font-family: Nunito, Arial, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    color: #171717;
}

#cart-table-th-quantity{
    width: 250px;
    font-family: Nunito, Arial, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    color: #171717;
}

.div-pay{
    width: 50vw;
}
@media (max-width: 800px){
.div-pay{    display: none;}
    #cart-table-th{ width: 30px;}
    #cart-table-th-quantity{width: 30px}
    .th-mobile{
        visibility: collapse!important;
        empty-cells:hide;
    }
}

.cart-details-quantity{
    width: 50px;
    margin-top: 10px;
}

.button-details-cart{
    width: 142px;
    height: 40px;
    background: #D90075;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    justify-content: center;
    margin: 30px auto;
}
.container-cart{
    width: 92vw;
    margin-left: 70px;
    margin-right: 30px;
}

/*#background-cart {*/
/*    background-image: url("../../static/img/backgroundcart.jpg");*/
/*    background-position: bottom;*/
/*    background-size: cover;*/
/*    height: 250px;*/
/*    border-radius: 30px 0 0 30px;*/
/*}*/

@media (max-width: 650px) {
    .container-cart{
        margin: 0;
        width: 100%;
        padding: 0;
    }
    /*#background-cart {*/
    /*     width: 100vw;*/
    /*    margin: 0!important;*/
    /*}*/
}

@media (max-width: 600px) {
    #div-description{
        display: none;
    }
}


#div-description-mobile{
    height: 100%;
    width: 100%;
}

@media (min-width: 600px) {
    #div-description-mobile{
        display: none;
    }

}

@media (min-width: 800px) {
       .mobile{
        display: none;
    }
}

@media (min-width: 1400px) {
    .title-section{
        margin-left: 80px;
        font-size: 35px;
    }

}

.invert{
    color: #d90075;
    background-color: #FFFFFF;
    border: 2px solid #D90075;
}


#aside-event-details{
    background-color: #F5F2F2;
    padding-bottom: 60px;
    border: 2px solid #F5F2F2;
    box-sizing: border-box;
    border-radius: 30px;
}
@media (max-width: 990px) {
    #aside-event-details{
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    #aside-event-details{
        background-color: #FFFFFF;
        border: #FFFFFF;
    }
}

#table-event-details{
    width:100%;
    margin-top: 30px;
}

.text-small-login{
    display: flex;
    font-family: Nunito, serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #171717;
    justify-content: center;
    padding: 30px 0;
}

@media (max-width:600px) {
    #reset-margin{
        margin-left: 0!important;
}
}

.title-cart {
    font-family: Nunito, serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	/*letter-spacing: .2em;*/
    color: #000000;
}

@media (max-width: 800px) {
	.title-cart{
		font-size: 15px;
		line-height: 20px;
	}
}

.link-cart{
    color: #d90075;
    padding: 0 5px;
}

.link-cart:hover{
    color: #d90075;
}

#label_promo_code{
    font-family: Nunito, Arial, serif;
    font-style: normal;
    font-weight: 600;
    /*font-size: 18px;*/
    /*line-height: 25px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*color: #171717;*/
    z-index: 10;
    position: absolute;
    top: 12px;
    left: 11px;
    background: #F5F2F2;
    padding: 5px;
    font-size: 18px;
    color: #171717;
    pointer-events: none;
    transition: .2s;
}

.div_code_promo{
    width: 80%;
    margin: 0 auto;
    height: 90px;
    justify-content: center;
    position: relative;
}

.div_code_promo .input_promo_code{
    border: 1px solid #A4B0CC;
    /*height: 35px;*/
    height: 50px;
    border-radius: 5px;
    position: absolute;
    transition: .1s;
    outline: none;
    padding: 0 16px;
   /*margin: 0 auto;*/
    background: #F5F2F2;
}

.input_promo_code:focus{
    border: 2px solid #A4B0CC;
}

.input_promo_code:focus + #label_promo_code, .input_promo_code:valid + #label_promo_code {
    top: -18px;
    font-size: 18px;
    color: #171717;
}

@media (max-width: 600px) {
    #label_promo_code{
        background: #ffffff;
    }
    .div_code_promo .input_promo_code{
        background: #ffffff;
    }
}

.icon_remove {
	text-decoration: none;
	color: #D90075 !important;
}

@media (max-width: 700px) {
    .icon_remove_a{
        display: none;
    }

}

.title-order{
    width: 100%;
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #d90075;
    justify-content: center;
}

.title-table-order{
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.5rem;
    align-items: center;
    color: #171717;
}

.link-order{
    color: #d90075;
    font-size: 0.8rem;
}

.buttons{
    width: 381px;
    height: 40px;
    background: #D90075;
    border-radius: 10px;
    border: 2px solid #D90075;
    box-sizing: border-box;
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0 auto;
    justify-content: center;
}

@media (max-width: 400px) {
    .buttons{
        width: 90%;
    }
    .title-table-order{
        font-size: 0.8rem;
        line-height: 1rem;
    }
}

.ibtw{
    color: #FFFFFF;
}

.text-body-table{
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #171717;
}

.title-about{
    margin-top: 5%;
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.8rem;
    display: flex;
    align-items: center;
    color: #171717;
}

.text-about{
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    color: #171717;
}

.link-to-about{
    color: #c6c8ca;
}

.link-to-about:hover{
    color: #d90075;
    text-decoration: #d90075;
}

@media (max-width: 600px) {
    .about-mobile{
        padding-left: 30px!important;
    }
    .title-about{
        font-size: 1.8rem;
        line-height: 1.5rem;
    }
}

@media (min-width: 1500px) {
    .title-about{
        font-size: 3rem;
        line-height: 3.2rem;
    }
    .text-about {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}


@media (max-width: 650px) {
    .desktop-cart{
        display: none;
    }
}

@media (min-width: 650px) {
    .mobile-cart{
        display: none;
    }
}

.btn-form {
    width: 30%;
    height: 40px;
    background: #D90075;
    border: 2px solid #d90075;
    border-radius: 10px;
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
    float: right;
}

@media (max-width: 600px) {
    .btn-form{
        width: 90%;
        float: none;
        margin: auto;
    }

}

.form-contact{
    border: 1px solid #A4B0CC;
    border-radius: 10px;
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #171717;
    width: 100%;
}

.select-form-contact{
    width: 100%;
    border: 1px solid #A4B0CC;
    border-radius: 10px;
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background-color: #FFFFFF;
}
@media(max-width: 600px) {
    .row-mobile {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
    background: #312046;
    height: 220px;
    padding-top:32px;
}


#myFooter .container{
    text-align: center;
    padding-top: inherit;
}

#myFooter .footer-copyright{
    margin-bottom: 35px;
    text-align: center;
    color: #777;
    font-size: 12px;
}


@media (max-width: 400px){
    #myFooter {
        padding-bottom: 5px!important;
        height: 100% !important;
    }
}

#myFooter ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 18px;
}


#myFooter li{
    display: inline-block;
    margin: 0 15px;
    line-height: 2;
}

#myFooter .footer-social{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #312046;
}

#myFooter .fa{
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}

#myFooter .fa-facebook-b:hover{
    color: #d90075;
    text-decoration: #d90075;
}

#myFooter .fa-facebook:focus{
    color: #d90075;
}

#myFooter .fa-instagram:hover{
    color:#d90075;
    text-decoration: #d90075;
}

#myFooter .fa-instagram:focus{
    color: #d90075;
}

/*#hover01:after{*/
/*    border: 2px solid red;*/
/*}*/

/*.content-all:hover #hover01{*/
/*	-webkit-transition: .3s ease-in-out;*/
/*	transition: .3s ease-in-out;*/
/*    border: 2px solid #FFFFFF;*/
/*    !*box-sizing: border-box;*!*/
/*    !*box-shadow: 5px 0 5px -5px rgba(115,115,115,0.75),  -5px 0 5px -5px rgba(115,115,115,0.75);*!*/
/*    border-bottom-right-radius: 8px;*/
/*    border-bottom-left-radius: 8px;*/
/*}*/


.content-all:hover{
    /*-moz-box-shadow: 5px 0 10px -5px rgba(115,115,115,0.75),  -5px 0 10px -5px rgba(115,115,115,0.75);*/
    /*-webkit-box-shadow: 5px 0 10px -5px rgba(115,115,115,0.75),  -5px 0 10px -5px rgba(115,115,115,0.75);*/
    box-shadow: 5px 0 8px -5px rgba(115,115,115,0.5),  -5px 0 8px -5px rgba(115,115,115,0.75);
    /*box-shadow: 1px 1px 1px 1px rgba(115,115,115,0.1),  1px 1px 1px 1px rgba(115,115,115,0.75);*/
    border-radius: 8px;
}

.border-login{
    border-radius: 10px 0 0 10px;
}

@media (max-width: 900px) {
    .border-login {
        border-radius: 0 0 0 10px;
    }
}

.button-link{
   background-color: #ffffff;
    border: none;
}

.div-button-table{
    display: flex;
    align-items: center;
}
