/* Container for every body of the page */
.container-full{
    width: 99vw;
    background-color: #FFFFFF;
}

.banner{
    width: 99vw;
    height: 60vh;
    display: inline-block;
    position: relative;
    z-index: 0;
    /*left: 20px; */
}

@media(max-width: 600px){
    .banner{
        width: 97vw;
    }
}




@media(max-width: 900px){
    #title-home{
        font-size: 2rem;
        line-height: 42px;
        width: 70vw;
        margin-top: 40px;
    }
    #subtitle-home{
        width: 70vw !important;
        line-height: 20px;
        margin: 0;
    }
}


#subtitle-home{
    position: absolute;
    left: 98px;
    top: 180px;
    width: 40vw;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.button-container-body{
    position: absolute;
    left: 98px;
    top: 260px;
    width: 142px;
    height: 40px;
    background: #D90075;
    border-radius: 10px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: none;
    justify-content: center;
}

#title-home{
    position: absolute;
    left: 98px;
    top: 80px;
    width: 45vw;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 82px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: linear-gradient(90deg, #E10087 -0.47%,rgba(96, 1, 98, 0.4));
}

@media(max-width: 600px){
    #title-home{
        width: 85vw;
        margin-top: 30px;
        font-size: 28px;
        line-height: 41px;
    }
    #subtitle-home{
        width: 80vw !important;
        font-size: 13px;
        line-height: 18px;
    }
}

.title-section{
    position: absolute;
    width: 306px;
    height: 30px;
    /*
    left: 0;
    top: 0;
    padding-bottom: 30px;
    */
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    display: flex;
    align-items: center;

color: #171717;
}




/** FOTTER*/
.container-footer{
    margin-top: 30px;
    width: 99vw;
    height: 274px;
    background: #312046;
    position: absolute;
    left: 0;
    top: 1700px;
}

.footer-text{
    padding: 5px 10px;
    margin: 0 30px;
    font-family: Nunito;
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.footer-title{
    padding-top: 30px;
    font-weight: 800;
    font-size: 25px;
    line-height: 34px;
}

.footer-subtitle{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

#wrapper {
    width: 100%;
    height: 350px;
    max-width: 90vw;
    position: relative;
    top: 80px;
    margin: 0 auto;
    /*background-color: #e0a800;*/
}

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-left: 3px;
    padding-top: 80px;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: transparent;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}


#prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
    color: red;
}

#next {
  top: 50%;
  right: -60px;
  transform: translate(-50%, -50%);
}

#content {
    height: 300px;
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    margin: 0 0 0 60px;
    box-sizing: border-box;
    position: relative;
}

.content-all {
    height: 300px;
    width: 221px;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    margin: 0 0 0 60px;
    box-sizing: border-box;
    position: relative;
}

.item {
    width: 220px;
    height: 159px;
    border-radius: 10px;
}

.text-default{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: blue;
}

.card-data{
    width: 110px;
    height: 20px;
    margin-left: -131px;
    margin-top: 125px;
    background-color: #FFFFFF;
    color: #1C1C1C;
    border-radius: 10px;
    padding-left: 5px;
    font-size: 15px;
}

.card-event {
    width: 223px;
    height: 150px;
    margin-top: 160px;
    margin-left: -240px;
}

.event-name{
    color: #000000;
    margin-top: 5px;
}

.event-price{
    color: #2F00ED;
    font-size: 20px;
}

.event-localization{
    color: #ACABAB;
}



.event-card-details{
    position: absolute;
    width: 419px;
    height: 737px;
    left: 893px;
    top: 183px;

    background: #F9F9F9;
    border: 2px solid #F5F2F2;
    box-sizing: border-box;
    border-radius: 30px;
}

.title-event-card-details{
    font-size: 35px;
    line-height: 48px;
    color: #171717;
    margin-left: 10px;
}

#location-event-card-details{
    font-size: 15px;
    line-height: 20px;
    color: #171717;
}

#price-event-card-details{
    font-weight: bold;
    color: #171717;
    margin-left: 10px;
}

.pay-event-card-details{
    position: absolute;
    width: 381px;
    height: 40px;
    background: #D90075;
    border-radius: 10px;
    color: #FFFFFF;
    justify-content: center;
    align-content: center;
    margin: 0 auto 0 15px;
}

.day-event-card-details{
    width: 88px;
    height: 30px;
    font-weight: bold;
    font-size: 60px;
    line-height: 82px;
    color: #D90075;
    margin: 30px auto;
}

.date-event-card-details{
    width: 180px;
    height: 30px;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    color: #171717;
    margin: 30px auto;
}






