{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
	Sign up to get a new account with us. The Calisamba's store has a variety of stunning products and tickets.
{% endblock %}
{% block title %}
	Create a New Account - Calisamba's Store
{% endblock %}
{% block content %}


<div class="container-signup">
    <div class="content-left-signin">
        <a href="{% url 'index' %}" id="back-to-home-mobile">
            <i class="fas fa-arrow-left" style="color: #D90075;"></i>
        </a>
        <div id="box-signup">
            <h2 class="text-default subtitle-signup">Welcome to</h2>
            <h1 class="text-default title-signup">Eventlinez.</h1>
            <p class="text-default description-signup">Create a new account</p>
        </div>
    </div>
    <div class="content-right-signin">
        {% if not form.is_valid %}
            <div style="display: flex">
                <a href="{% url 'index' %}" id="back-to-home">
                    <i class="fas fa-arrow-left" style="color: #D90075;"></i>
                </a>
                <h4 class="text-default text-bk">Enter the following information to create an account.</h4>
            </div>

            <form method="post" id="form-signup">
                {% csrf_token %}
                <p class="text-default">{{ form | crispy }}</p>
                <button type="submit" class="text-default button-login">Register Account</button>
            </form>
        {% else %}
            <h4 class="text-default">Your account has been successfully created</h4>
            <br>
            <div>
            <p>
                Dear Customer,
                <br>
                <br>
                Your account has been created and it is ready to use.
                <br>
                <a href="{% url 'shop:index' %}">Continue shopping</a> and enjoy the variety of cushions that we have at the perfect cushion store.
            </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
