{% extends "base_promoter.html" %}
{% load static %}
{% block title %} Panel Admin - Events{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4 title-dast">Events</h1>
            {% if events %}
            <div>
                <div class="row">
                    <div class="col-lg-10 col-md-5"></div>
                    <div class="col-lg-2 col-md-7 div-adm-newevent">
                        <a href="{% url 'new_events' %}"
                           id="button-adm"
                            class="btn btn-secondary"
                           style="margin-top: 10px;">
                            New Event
                        </a>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" style="width: 99%">
                        <thead>
                            <tr style="background-color:#F4F4F4;">
                                <th class="text-table text-bold">Event</th>
                                <th class="text-table text-bold">Date</th>
                                <th class="text-table text-bold">Unit Price</th>
                                <th class="text-table text-bold">Tickets Sold</th>
                                <th class="text-table text-bold">Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for events in events %}
                                <tr>
                                    <td class="text-table">
                                        <a href="{% url 'update_event'  events.id%}" style="color: #d90075; font-size: 12px">
                                            {{ events.name }}
                                        </a>
                                    </td>
                                    <td class="text-table">{{ events.event_date|date:'Y-m-d H:i' }}</td>
                                    <td class="text-table">{{ events.unit_price}}</td>
                                    <td class="text-table">{{ events.sales_info.qtd_sould}}/{{ events.sales_info.qtd_available}}</td>
                                    <td class="text-table">{{ events.sales_info.amount_sould}}</td>
    {#                                    <td class="text-table">{{ events.stock }}</td>#}
                                    <td colspan="3">
                                        <div style="display: flex; justify-content: center;">

    {#                                            <a id="button-adm" href="{% url 'ticket_list' events.id %}" >#}
    {#                                                Tickets#}
    {#                                            </a>#}
                                            <a href="{% url 'update_event'  events.id%}" class="icon_remove_a">
                                                <i style="padding-left: 15px; padding-top: 5px; color: #d90075" class="far fa-edit icon_remove"></i>
                                            </a>
                                            <a href="{% url 'remove_event'  events.id%}" class="icon_remove_a">
                                                <i style="padding-left: 15px; padding-top: 5px; color: #d90075" class="fas fa-trash-alt icon_remove"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
                <div style="width: 100%; margin: auto">
                    <article id="event-div">
{#                        <i class="far fa-calendar-plus fa-5x" style="color: #d90075; padding-bottom: 20px"></i>#}
                        <img src="{% static 'img/icon-calendar-updated.svg' %}" alt="caledar" style="padding-bottom: 20px"/>
                        <br>
                        <h4 class="text-default">Create your first event</h4>
                        <p class="text-default">You do not have any events created yet.</p>
                        <a href="{% url 'new_events' %}"
                               id="button-adm"
                                class="btn btn-secondary"
                               style="margin-top: 10px;">
                                New Event
                            </a>
                    </article>
                </div>
            {% endif %}
        </div>
    </main>

{% endblock content %}