{% extends "base_promoter.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}
{% block title %} Panel Admin - New Events{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
    .link-active{
        color: #383838!important;
        text-decoration: none;
        background-color: transparent;
    }
    .link-active:hover {
        font-weight: bolder;
        text-decoration: none;
    }
    .link-active.active {
        font-weight: bolder;
        text-decoration: none;
    }
    .link.active{
         font-weight: bolder;
        text-decoration: none;
        border-color: #fff #fff #D90075 #fff!important;
        border-bottom-width: 4px;
}
    </style>
{% endblock stylesheets %}

{% block content %}
  <main>
    <div class="container-fluid pb-5 mb-5">
      <h1 class="mt-4 mb-4 title-dast">Event</h1>
        <div id="exTab2" class="container m-0" style="padding-left: 0;padding-right: 0">
          <ul class="nav nav-tabs">
            <li class="nav-link active link">
              <a href="#event" data-toggle="tab" class="link-active" style="color: #00000080;">Event</a>
            </li>
            <li class="nav-link link">
              <a href="#vendors" data-toggle="tab" class="link-active">Vendors</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" name="event" id="event">
              <form
                 enctype="multipart/form-data" method="post" class="col-lg-12 ml-sm-4 mt-3"
                 style="margin-left: 0 !important; padding-left: 5px !important">
                 {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.name | as_crispy_field }}
                  </div>

                  <div class="form-group col-md-3 mb-0">
                    {{ form.event_date | as_crispy_field }}
                  </div>

                  <div class="form-group col-md-3 mb-0">
                    {{ form.category | as_crispy_field }}
                  </div>

                  {% if tickets %}
                    <article class="form-group col-md-12 mb-0">
                      <div class="col-lg-12" style="display: flex">
                        <div class="col-lg-10 col-md-5"></div>
                        <div class="col-lg-2 col-md-7 div-adm-newevent" style="justify-content: flex-end">
                          <a href="{% url 'ticket_create' form.instance.id %}" id="button-adm" class="btn btn-secondary"
                             style="margin-top: 10px">
                            New type
                          </a>
                        </div>
                      </div>

                      <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" style="width: 99%">
                          <thead>
                            <tr style="background-color: #f4f4f4">
                              <th class="text-table text-bold">Ticket type</th>
                              <th class="text-table text-bold">Quantity</th>
                              <th class="text-table text-bold">Price<br />Qty</th>
                              <th class="text-table text-bold"></th>
                            </tr>
                          </thead>

                          <tbody>
                            {% for ticket in tickets %}
                            <tr>
                              <td class="text-table">
                                <a href="{% url 'ticket_update' ticket.id%}"
                            style="color: #d90075; font-size: 12px">
                            {{ ticket.name }}
                          </a>
                        </td>
                        <td class="text-table">{{ ticket.quantity }}</td>
                        <td class="text-table">{{ ticket.price }}</td>

                        <td colspan="3">
                          <div
                            class="div-button-table"
                            style="justify-content: flex-end">
                            <button class="button-link">
                              <a
                                href="{% url 'ticket_update'  ticket.id%}"
                                class="icon_remove_a">
                                <i
                                  style="color: #d90075" class="far fa-edit icon_remove">
                                </i>
                              </a>
                            </button>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </article>
              {% endif %}

              <div class="form-group col-md-12 mb-0">
                {{ form.media }}
                {{ form.description | as_crispy_field }}
              </div>

              <div class="form-group col-md-6 mb-0">
                {{ form.address | as_crispy_field }}
              </div>

              <div class="form-group col-md-3 mb-0">
                {{ form.city | as_crispy_field }}
              </div>

              <div class="form-group col-md-6 mb-0">
                {{ form.image | as_crispy_field }}
              </div>

              <div class="form-group col-md-12 mb-0">
                {{ form.available | as_crispy_field }}
              </div>
            </div>

            <button
              type="submit"
              id="button-adm"
              class="btn btn-secondary"
              style="
                height: 40px;
                width: 140px;
                float: right;
                margin-top: 10px;
                border: 1px solid #d90075;">
              Save
            </button>
          </form>
        </div>

        <div class="tab-pane" name="vendors" id="vendors">
          <div class="container-fluid p-0">
{#            <h1 class="mt-4 title-dast">Vendors</h1>#}
            {% if vendors %}
            <section>
              <header class="col-lg-12" style="display: flex">
                <div class="col-lg-10 col-md-5"></div>
                <div
                  class="col-lg-2 col-md-7 div-adm-newevent"
                  style="justify-content: flex-end">

                    <button type="button"
                          id="button-adm"
                          style="margin-top: 10px"
                          class="btn btn-secondary"
                          data-toggle="modal"
                          data-target="#exampleModalCenter">
                      New Vendor
                  </button>
                </div>
              </header>

              <main class="card-checkin d-lg-none d-flex">
                {% for vendor in vendors %}
                <article
                  class="card m-lg-2 m-0 mb-4"
                  style="
                    min-width: 20rem;
                    max-width: 20rem;
                    border-radius: 10px;">
                  <section
                    class="card-body"
                    style="padding-left: 0px; padding-bottom: 0">
                    <div style="display: block;padding-right: 0;padding-left: 20px;">
                      <div
                        style="
                          display: flex;
                          justify-content: flex-start;
                          flex-direction: row;">
                        <i class="fas fa-user-circle mt-1"></i>
                        <h5 class="h6-promoter ml-2">{{vendor.full_name}}</h5>
                      </div>

                      <p class="p-promoter" style="color: #7b7b7b">
                        <b style="color: #383838">Link: </b>
                        {{vendor.link}}
                      </p>

                      <div class="div-button-table">
                        <button class="button-link">
                          <a
                            href="https://www.facebook.com/sharer/sharer.php?u={{ vendor.link }}">
                            <i
                              style="color: #d90075"
                              class="fab fa-facebook-square"
                            ></i>
                          </a>
                        </button>

                        <button class="button-link">
                          <a
                            href="https://api.whatsapp.com/send?text={{ vendor.link }}">
                            <i
                              style="color: #d90075"
                              class="fab fa-whatsapp"
                            ></i>
                          </a>
                        </button>
                      </div>

                      <div
                        class="div-button-table pb-2"
                        style="justify-content: flex-end">
                        <button class="button-link">
                          <a href="{% url 'vendor_update' vendor.id %}">
                            <i
                              style="color: #d90075"
                              class="far fa-edit icon_remove"
                            ></i>
                          </a>
                        </button>

{#                        <button class="button-link">#}
{#                          <a href="{% url 'vendor_update' vendor.id%}">#}
{#                            <i#}
{#                              style="color: #d90075"#}
{#                              class="fas fa-trash-alt icon_remove"#}
{#                            ></i>#}
{#                          </a>#}
{#                        </button>#}

                          {% if vendor.ticket_set.filter.exists %}
                                               <button class="button-link" data-toggle="modal"
                                                       data-target="#vendorModal">
                                                <i style="color: #d90075" class="fas fa-trash-alt icon_remove"></i>
                                               </button>
                                        {% else %}
                                            <button class="button-link">
                                                    <a href="{% url 'vendor_remove' vendor.id%}">
                                                        <i style=" color: #d90075"
                                                           class="fas fa-trash-alt icon_remove"></i>
                                                    </a>
                                                </button>
                                        {% endif %}


                      </div>
                    </div>
                  </section>
                </article>
                {% endfor %}
              </main>

              <main class="d-lg-flex d-none">
                <aside class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    style="width: 99%">
                    <thead>
                      <tr style="background-color: #f4f4f4">
                        <th class="text-table text-bold" id="anchor">Vendor</th>
                        <th class="text-table text-bold">Link</th>
                        <th class="text-table text-bold">Share link</th>
                        <th class="text-table text-bold"></th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for vendor in vendors %}
                      <tr>
                        <td class="text-table">
                          <a
                            href="{% url  'vendor_update' vendor.id %}"
                            style="color: #d90075; font-size: 12px"
                          >
                            {{ vendor.full_name }}
                          </a>
                        </td>
                        <td class="text-table">{{ vendor.link }}</td>

                        <td>
                          <div class="div-button-table">
                            <button class="button-link">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ vendor.link }}"
                                   class="icon_remove_a">
                                    <i style="color: #d90075" class="fab fa-facebook-square"></i>
                                </a>
                            </button>

                            <button class="button-link">
                                <a href="https://api.whatsapp.com/send?text={{ vendor.link }}"
                                   class="icon_remove_a">
                                    <i style="color: #d90075" class="fab fa-whatsapp"></i>
                                </a>
                            </button>
                          </div>
                        </td>

                        <td>
                          <div class="div-button-table" style="justify-content: flex-end">
                            <button class="button-link">
                              <a href="{% url 'vendor_update' vendor.id %}" class="icon_remove_a">
                                <i style="color: #d90075" class="far fa-edit icon_remove"></i>
                              </a>
                            </button>

                          {% if vendor.ticket_set.filter.exists %}
                            <button class="button-link" data-toggle="modal" data-target="#vendorModal">
                              <i style="color: #d90075" class="fas fa-trash-alt icon_remove"></i>
                            </button>

                          {% else %}
                            <button class="button-link">
                              <a href="{% url 'vendor_remove' vendor.id%}">
                                <i style=" color: #d90075" class="fas fa-trash-alt icon_remove"></i>
                              </a>
                            </button>
                          {% endif %}
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </aside>
              </main>
            </section>

            {% else %}
                 {% if vendors == None  %}
                    <div style="width: 100%; margin: auto">
                        <article id="event-div">
                            <i class="fas fa-exclamation-triangle fa-5x"
                               style="color: #d90075;padding-bottom: 20px;"></i>
                            <br>
                            <h4 class="text-default centralized"
                                style="font-size: 1rem">Finish your event registration</h4>
                          <p class="text-default centralized">
                              It is necessary to complete the registration of your event first,
                              in order to be able to associate the sellers
                          </p>

                        </article>
                    </div>

                {% else %}
                    <div style="width: 100%; margin: auto">
                        <article id="event-div">
                            <i class="fas fa-user-circle fa-5x" style="color: #d90075;padding-bottom: 20px;"></i>
                            <br>
                            <h4 class="h6-promoter centralized" style="font-size: 1rem">Create Vendor</h4>

                            <button type="button"
                                    id="button-adm"
                                    style="margin-top: 10px"
                                    class="btn btn-secondary"
                                    data-toggle="modal"
                                    data-target="#exampleModalCenter">
                                New Vendor
                            </button>
                        </article>
                    </div>
                {% endif %}
            {% endif %}

           <!-- Modal -->
            <section class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header pt-4 pb-0" style="border-bottom: none">
          <div class="d-block">
              <h3 class="h3-promoter" id="exampleModalLongTitle">Associate vendors to event</h3>
              <h5 class="p-promoter p-vendor-12">
                  You can join an existing vendor or create a new one
              </h5>
          </div>
{#        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>#}
        <button type="button" class="close"
                style="font-size: 2rem!important;"
                data-dismiss="modal" aria-label="Close">
          <span style="font-size: 2rem!important;" aria-hidden="true">&times;</span>
        </button>
      </div>

      <aside class="modal-body pt-0">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item link-active" role="presentation">
                  <a class="nav-link active link" id="selectvendor-tab"
                     style="color: #383838!important;"
                     data-toggle="tab" href="#selectvendor"
                     role="tab"
                     aria-controls="selectvendor"
                     aria-selected="true">
                      Select Vendor
                      </a>
              </li>

              <li class="nav-item link-active" role="presentation">
                  <a class="nav-link link"
                     style="color: #383838!important;"
                     id="newvendor-tab"
                     data-toggle="tab"
                     href="#newvendor"
                     role="tab"
                     aria-controls="newvendor"
                     aria-selected="false">
                      New Vendor
                  </a>
              </li>
          </ul>

          <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active"
                   id="selectvendor" role="tabpanel" aria-labelledby="selectvendor-tab">
                    <form method="POST" action="/promoter/vendor/update/event/{{ event_id_dinamic }}/"
                          style="display: flex">
                        {% csrf_token %}
                        <div class="d-block" style="width: 100%;padding-right: 5px">
                                <label class="col-12 col-lg-12 p-promoter p-vendor-12" for="vendorsChoice"
                                       style="margin-top: 20px;">
                                    Vendor*
                                </label>
                                <select id="vendorsChoice"
                                        class="form-control col-12"
                                        name="vendors_choice"
                                        style="margin: 0 10px">}
                                      <option value="">All</option>
                                        {% if selected_vendor %}
                                            <option value="{{selected_vendor.id}}" selected="selected">
                                                {{ selected_vendor.name }}
                                            </option>
                                        {% endif %}



                                    {% for vendor in vendors_without_event %}
                                        <option value="{{vendor.id}}">{{vendor.full_name}}</option>
                                    {% endfor %}
                                </select>

                                <button type="submit"
                                        id="button-adm"
                                        class="btn btn-secondary"
                                        style="margin-top: 50px; float: right; background-color: #d90075">
                                    Save
                                </button>
                        </div>

                            </form>

              </div>
              <div class="tab-pane fade" id="newvendor" role="tabpanel" aria-labelledby="newvendor-tab">

                  <form enctype="multipart/form-data"
                        method="post" action="/promoter/vendor/new/{{ event_id_dinamic }}/"
                        class="col-lg-12 ml-sm-4 pt-3"
                        style="margin-left: 0!important;
                          padding-left: 5px!important;">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ form_vendor|crispy }}
                    </div>
                </div>

                <button type="submit" id="button-adm"
                        class="btn btn-secondary"
                        style="float: right;margin-top: 10px;border: 1px solid #d90075;">
                    Save
                </button>
            </form>
              </div>
          </div>

      </aside>

    </div>
  </div>
</section>


              <aside class="modal fade" id="vendorModal" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <p>You cannot delete this vendor because it already have tickets sold</p>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </div>
  </main>
{% endblock content %}
