{% extends "base_promoter.html" %}
{% load static %}
{% block title %} Panel Admin - Events{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4 title-dast">Events</h1>
            {% if events %}
            <div>
                <div class="col-lg-12" style="display:flex;">
                    <div class="col-lg-10 col-md-5"></div>
                    <div class="col-lg-2 col-md-7 div-adm-newevent" style="justify-content: flex-end;">
                        <a href="{% url 'new_events' %}"
                           id="button-adm"
                            class="btn btn-secondary"
                           style="margin-top: 10px;">
                            New Event
                        </a>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" style="width: 99%">
                        <thead>
                            <tr style="background-color:#F4F4F4;">
                                <th class="text-table text-bold">Event</th>
                                <th class="text-table text-bold">Date</th>
                                <th class="text-table text-bold">Tickets <br>Qty</th>
                                <th class="text-table text-bold">Tickets <br>Sold</th>
                                <th class="text-table text-bold">Available <br>Qty</th>
                                <th class="text-table text-bold">Unit Price</th>
                                <th class="text-table text-bold">Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for events in events %}
                                <tr>
                                    <td class="text-table">
                                        <a href="{% url 'update_event'  events.id%}" style="color: #d90075; font-size: 12px">
                                            {{ events.name }}
                                        </a>
                                    </td>
                                    <td class="text-table">{{ events.event_date|date:'Y-m-d H:i' }}</td>
                                    <td class="text-table">{{ events.stock}}</td>
                                    <td class="text-table">{{ events.sales_info.qtd_sould}}</td>
                                    <td class="text-table">{{ events.sales_info.qtd_available}}</td>
                                    <td class="text-table">{{ events.unit_price}}</td>
                                    <td class="text-table">{{ events.sales_info.amount_sould}}</td>
                                    <td colspan="3">
                                        <div class="div-button-table" style="justify-content: flex-end">
                                            <button class="button-link">
                                                 <a href="{% url 'update_event'  events.id%}" class="icon_remove_a">
                                                    <i style="color: #d90075" class="far fa-edit icon_remove"></i>
                                                </a>
                                            </button>
                                            {% if  events.sales_info.amount_sould != 0 %}
                                               <button class="button-link" data-toggle="modal" data-target="#exampleModal">
                                                <i style="color: #d90075" class="fas fa-trash-alt icon_remove"></i>
                                               </button>
                                            {%  endif %}
                                            {% if events.sales_info.amount_sould == 0 %}
                                                <button class="button-link">
                                                    <a href="{% url 'remove_event'  events.id%}" class="icon_remove_a">
                                                        <i style=" color: #d90075" class="fas fa-trash-alt icon_remove"></i>
                                                    </a>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
                <div style="width: 100%; margin: auto">
                    <article id="event-div">
{#                        <i class="far fa-calendar-plus fa-5x" style="color: #d90075; padding-bottom: 20px"></i>#}
                        <img src="{% static 'img/icon-calendar-updated.svg' %}" alt="caledar" style="padding-bottom: 20px"/>
                        <br>
                        <h4 class="text-default centralized">Create your first event</h4>
                        <p class="text-default centralized">You do not have any events created yet.</p>
                        <a href="{% url 'new_events' %}" id="button-adm"
                           class="btn btn-secondary" style="margin-top: 10px;">New Event</a>
                    </article>
                </div>
            {% endif %}
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                 <p>You cannot delete this event because it already have tickets sold</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </main>
{% endblock content %}