{% extends "base_promoter.html" %}

{% block title %} Panel Admin - Orders{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid">
                <h1 class="mt-4 title-dast">Orders</h1>

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                                <tr style="background-color:#F4F4F4;">
                                    <th>Order</th>
                                    <th>Customer</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for order_details in order_details %}
                                <tr>
                                    <td>{{ order_details.id }}</td>
                                    <td>{{ order_details.billingName }}</td>
                                    <td>{{ order_details.billingPostcode }}</td>
                                    <td>{{ order_details.emailAddress }}</td>
                                    <td>{{ order_details.total }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
        </div>
    </main>

{% endblock content %}