{% extends "base_promoter.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
Sign up to get a new account with us. The Eventlinez has a variety of stunning products and tickets.
{% endblock %}
{% block title %}
Reset Password Organizer - Eventlinez
{% endblock %}
{% block content %}

<div class="col-md-12 my-5">
    <section class="row row-mobile justify-content-center align-items-center">
        <aside class="justify-content-center align-items-center col-lg-5" style="border-radius: 0 10px 10px 0;">
            <div style="display: flex; padding-top: 20px">
                <a href="{% url 'promoter:events_promoter' %}" id="back-to-home">
                    <i class="fas fa-arrow-left" style="color: #D90075;"></i>
                </a>
                <h4 class="text-default text-bk"> Enter a new password for the user {{ request.user.first_name }}</h4>
            </div>
            <br>
            <form method="post" class="col-lg-10 ml-sm-4">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <div for="{{ field.name }}">{{ field.label }}*</div>
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <button type="submit" class="text-default button-login"> Save Password </button>
            </form>

        </aside>
    </section>
</div>
{% endblock %}