{% extends "base_promoter.html" %}
{% load static %}
{% block title %} Panel Admin - Events{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4 title-dast">Type Ticket</h1>
            {% if tickets %}
            <article>
                <div class="col-lg-12" style="display:flex;">
                    <div class="col-lg-10 col-md-5"></div>
                    <div class="col-lg-2 col-md-7 div-adm-newevent" style="justify-content: flex-end;">
                        <a href="{% url 'ticket_create' %}"
                           id="button-adm"
                            class="btn btn-secondary"
                           style="margin-top: 10px;">
                            New type
                        </a>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" style="width: 99%">
                        <thead>
                            <tr style="background-color:#F4F4F4;">
                                <th class="text-table text-bold">Type Event</th>
                                <th class="text-table text-bold">Quantity</th>
                                <th class="text-table text-bold">Price<br>Qty</th>
                                <th class="text-table text-bold"></th>
{#                                <th class="text-table text-bold">Event <br>Sold</th>#}
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in tickets %}
                                <tr>
                                    <td class="text-table">
                                        <a href="{% url 'ticket_update'  ticket.id%}" style="color: #d90075; font-size: 12px">
                                            {{ ticket.name }}
                                        </a>
                                    </td>

                                    <td class="text-table">{{ ticket.quantity }}</td>
                                    <td class="text-table">{{ ticket.price }}</td>
{#                                  <td class="text-table">{{ ticket.event }}</td>#}

                                    <td colspan="3">
                                        <div class="div-button-table" style="justify-content: flex-end">
                                            <button class="button-link">
                                                 <a href="{% url 'ticket_update'  ticket.id%}" class="icon_remove_a">
                                                    <i style="color: #d90075" class="far fa-edit icon_remove"></i>
                                                </a>
                                            </button>
                                        </div>
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </article>

         {% else %}
                <div style="width: 100%; margin: auto">
                    <article id="event-div">
                       <i class="fas fa-ticket-alt fa-5x" style="color: #d90075;padding-bottom: 20px;"></i>
                        <br>
                        <h4 class="text-default centralized" style="font-size: 1rem">Create ticket types</h4>
                        <p class="text-default centralized">General admission, Table, or other types </p>
                        <a href="{% url 'ticket_create' %}" id="button-adm"
                           class="btn btn-secondary" style="margin-top: 10px;">New type</a>
                    </article>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock content %}