{% extends "base_promoter.html" %}
{% load static %}
{% block title %} Panel Admin - Events{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
 {% block js-ticket %}
     <script src="{% static 'js/ticket-export-excel.js' %}"></script>
 {% endblock %}


{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4 title-dast">Tickets</h1>
        {% if tickets %}
        <div>
        <header class="row">
            <div class="col-lg-6">
                <form method="POST" style="display: flex">
                    {% csrf_token %}
                    <label for="eventsChoice"
                           style="font-size: 16px; margin-top: 10px">Events</label>
                    <select id="eventsChoice" class="form-control form-control-sm col-sm-3 col-md-3 col-lg-8 mt-2"
                            name="events_choice"
                            id="events_choice"
                            style="margin: 0 10px">
                        {% if selected_event %}
                            <option value="{{selected_event.id}}" selected="selected">{{ selected_event.name }}</option>
                        {% endif %}
                        <option value="" >All</option>
                        {% for event in events %}
                            <option value="{{event.id}}">{{event.name}}</option>
                        {% endfor %}
                    </select>
                    <button action="submit"
                            id="button-adm"
                            class="btn btn-secondary"
                            style="margin-top: 8px;
                                   background-color: #d90075">
                        Filter
                    </button>
                </form>
            </div>


             <div class="col-12 col-lg-5">
                        <form class="form-inline mr-auto" action="{% url 'search_ticket_sold' %}" method="get">
                        {% csrf_token %}
{#                            <input class="form-control col-11 col-lg-8 form-control-sm"#}
{#                                   style="margin-top: 10px;height: 20px; margin-left: 10px"#}
{#                                   type="search"#}
{#                                   placeholder="Search per guest name or ticket number"#}
{#                                   aria-label="Search" name="query">#}

                            <div class="input-group col-lg-10 col-12 p-0 p-lg-2">
                                    <input class="form-control form-control-sm border-right-0 border col-12"
                                           style="height: 24px;"
                                           type="search"
                                           placeholder="Search per guest name or ticket number"
                                           aria-label="Search" name="query"
                                           id="example-search-input">

                                    <span class="input-group-append form-control-sm p-0">
                                        <button class="btn btn-outline-secondary border-left-0 border form-control-sm"
                                                type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>

                        </form>
             </div>

            <div class="col-lg-1 col-md-7 div-adm-newevent">
                <button onclick="exportTicket()"
                   id="button-adm"
                   class="btn btn-secondary"
                   style="margin-top: 10px;">
                    Export
                </button>
            </div>
        </header>

            <section class="table-responsive">
            <table class="table table-bordered" id="dataTable">
                <thead>
                    <tr style="background-color:#F4F4F4;">
                        <th class="text-table text-bold">Num</th>
                        <th class="text-table text-bold">Event</th>
{#                        <th class="text-table text-bold">Ticket Type</th>#}
                        <th class="text-table text-bold">Price</th>
                        <th class="text-table text-bold">Promo Code</th>
                        <th class="text-table text-bold">Created</th>
                        <th class="text-table text-bold">Guest Name</th>
                        <th class="text-table text-bold">Checkin date</th>
                    </tr>
                </thead>

                <tbody>
                {% for ticket in tickets %}
                    <tr>
                     {% if ticket.checkin_date %}
                        <td class="text-table text-success text-bold">{{ticket.id}}</td>
                         <td class="text-table text-success text-bold">{{ticket.event_ticket}}</td>
                        <td class="text-table text-success text-bold">{{ticket.order_item.unit_price }}</td>
                        <td class="text-table text-success text-bold">{{ticket.order_item.promo_code|default_if_none:''}}</td>
                        <td class="text-table text-success text-bold">{{ticket.created_at| date:'Y-M-d H:i'}}</td>
                        <td class="text-table text-success text-bold">{{ticket.guest_name|default_if_none:''}}</td>
                         <td class="text-table text-success text-bold">{{ticket.checkin_date}}</td>
                     {% else %}
                        <td class="text-table">{{ticket.id}}</td>
                         <td class="text-table">{{ticket.event_ticket}}</td>
                        <td class="text-table">{{ticket.order_item.unit_price }}</td>
                        <td class="text-table">{{ticket.order_item.promo_code|default_if_none:''}}</td>
                        <td class="text-table">{{ticket.created_at| date:'Y-M-d H:i'}}</td>
                        <td class="text-table">{{ticket.guest_name|default_if_none:''}}</td>
                        <td class="text-table">{{ticket.checkin_date|default_if_none:''}}</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

            <section class="col-12 mb-5">
            {% if tickets.paginator.num_pages > 1 %}
            <div class="row row-paginator">
                <div class="col-lg-3 col-5">
                    <span class="text-table">
                        Showing {{ tickets.number }} - {{ tickets.paginator.num_pages }}
                    </span>
                </div>

                <div class="col-lg-6"></div>
                <div class="col-lg-3 col-5 text-lg-right pr-lg-5 pr-sm-0">
                    {% if tickets.has_previous %}
                    <a class="text-table text pr-3"
                       href="?page={{ tickets.previous_page_number }}">
                        <i class="fas fa-chevron-left fa-sm" style="color: #d90075; height: 10px; width: 10px"></i>
                        Prev
                    </a>
                    {% endif %}

                    {% if tickets.has_next %}
                    <a class="text-table text"
                       href="?page={{ tickets.next_page_number }}">
                        Next
                        <i class="fas fa-chevron-right fa-sm" style="color: #d90075"></i>
                    </a>
                    {% endif %}
                </div>
            {% endif %}
            </div>
        </section>
        </div>
        {% else %}

                 <div style="width: 100%; margin: auto">
                    <article id="event-div" style="display: flex; flex-direction: column">
                        <h4 class="h4-promoter centralized">No tickets sold</h4>
                        <br>
                        <i class="fas fa-ticket-alt fa-5x" style="color: #d90075;padding-bottom: 20px;"></i>

                    </article>
                </div>

        {% endif %}
    </div>
</main>


{% endblock content %}
