{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block metadescription %}
	Sign up to get a new account with us. The Eventlinez has a variety of stunning products and tickets.
{% endblock %}
{% block title %}
	Create a New Account Promoter- Eventlinez
{% endblock %}
{% block content %}

    <div class="col-md-12" style="margin-bottom: 100px">
        <section class="row row-mobile justify-content-center align-items-center">
            <aside class="col-lg-6 col-md-10 col-sm-10 pl-sm-5 pl-lg-0"
                   style="border-radius: 0 10px 10px 0;">
             {% if not form_promoter.is_valid %}
                 <div style="display: flex; padding-top: 20px">
                    <a href="{% url 'events_promoter' %}" id="back-to-home">
                        <i class="fas fa-arrow-left" style="color: #D90075;"></i>
                    </a>
                    <h4 class="text-default text-bk">Enter the following information to update your account.</h4>
                </div>

                <form method="post" class="col-lg-12 ml-sm-4">
                {% csrf_token %}

                     <div class="form-row">
                        <div class="form-group col-md-12 mb-0 my-1" >
                            <label>Name*</label>
                            {{ form.name }}
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0 my-1">
                            <label>Social Security*</label>
                            {{ form.ssn }}

                        </div>
                        <div class="form-group col-md-6 mb-0 my-1">
                            <label>Phone*</label>
                            {{ form.phone }}
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0 my-1">
                            <label>Address*</label>
                            {{ form.address }}
                        </div>

                        <div class="form-group col-md-4 mb-0 my-1">
                            <label>City*</label>
                            {{ form.city }}

                        </div>

                        <div class="form-group col-md-2 mb-0 my-1">
                            <label>Zip*</label>
                            {{ form.zip }}
                        </div>
                    </div>


                    <button type="submit" class="text-default button-login"> Update Account Promoter</button>
                </form>
            {% else %}
                 <h4 class="text-default">Your account has been successfully Upadate</h4>
                 <br>

                 <div>
                    <p>
                        Dear Customer,
                        <br><br>
                        Your account has been created and it is ready to use.
                        <br>
                        <a href="{% url 'shop:index' %}">Continue shopping</a> and enjoy the variety of cushions that we have at the perfect cushion store.
                    </p>
                </div>

            {% endif %}
            </aside>
        </section>
    </div>
{% endblock %}
