{% extends "base_promoter.html" %}
{% load converts %}
{% load static %}
{% block title %} Payout - Panel Admin{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main>
        <div class="container-fluid">
                <div class="d-flex pt-5 pb-2">
                    <i style="font-size: 1.5rem;"
                       class="fas fa-dollar-sign title-color mt-1"></i>
                    <h1 class="title-dast pl-2 title-color">
                        Bank Information
                    </h1>
                </div>

            {% if bank_accounts %}
                {% for bank_account in bank_accounts%}
                    <section class="col-12 pl-0 pr-0">
                        <header class="col-12 mt-4 mb-5 header-box">

                            <aside class="d-lg-flex d-sm-block col-12 pt-lg-3 pt-1 pb-1 border-card">

                                <article class="card-body pt-2 pl-0 pb-0">
                                    <div class="d-block pr-0 pl-1">
                                        <p class="p-promoter mb-1 p-color">
                                            <b class="title-color">
                                                Bank name:
                                            </b>
                                            {{ bank_account.bank_name }}
                                        </p>

                                        <p class="p-promoter mb-1 p-color">
                                            <b class="title-color">
                                                Account number:
                                            </b>
                                            ******** {{ bank_account.last4 }}
                                        </p>
                                        <p class="p-promoter p-color">
                                            <b class="title-color">Routing Number: </b>
                                            {{ bank_account.routing_number }}
                                        </p>
                                    </div>
                                </article>

                                <div class="d-flex d-sm-block justify-content-center">
                                    <a href="{% url 'bank_account_update' bank_account.id %}" id="button-adm"
                                       class="btn btn-secondary"
                                       style="margin: 10px auto auto auto;justify-content: center">
                                        Update
                                    </a>
                         
                                    <a href="{% url 'bank_remove' bank_account.id%}" id="button-adm"
                                       class="btn btn-secondary"
                                       style="margin: 10px auto auto 10px;justify-content: center;">
                                        Remove
                                    </a>
                                </div>
                            </aside>
                        </header>
                    </section>
                {% endfor %}
            {% else %}
                <section class="container m-height">
                    <main class="col-12 m-height-50">
                        <div class="col-12 pt-5 mt-5 justify-content-center">
                            <h3 class="col-12 h3-home mt-3" style="text-align: center;">
                                No bank information registered.
                            </h3>
                            
                            <div class="col-12 d-flex justify-content-center">
                                <a href="{% url 'bank_create'%}" id="button-adm"
                                class="btn btn-secondary"
                                style="margin: 10px auto auto auto;justify-content: center">
                                Register account
                                </a>
                            </div>
                        </div>
                    </main>
                </section>
            {% endif %}
        </div>
    </main>
{% endblock content %}