{% extends "base_promoter.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}Bank Account - Panel Admin{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="container-fluid mt-4 pb-5 mb-5" style="background: #FFFFFF;border-radius: 8px;">
        <aside class="col-lg-5 col-12 mt-5 m-auto">
            <div class="mt-4 pt-3 pb-0 background-modal" style="border-bottom: none">
                <div class="d-flex" style="justify-content: space-between">
                    <h3 class="h3-promoter h3-white pl-4" id="exampleModalLongTitle">Bank Account</h3>

                    <button type="button" class="close right pr-2" style="font-size: 2rem!important; margin-top: -15px;" data-dismiss="modal" aria-label="Close">
                        <span style="font-size: 2rem!important; color:white" aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div>
                <h5 class="h5-promoter pl-4 pr-4 pt-4 mb-4 p-vendor-12">
                    Fill in the details below to register a bank account.
                </h5>

                
                <form enctype="multipart/form-data" method="post" class="col-lg-12 pl-4 pr-4 ml-sm-4"
                      style="margin-left: 0!important;">
                    {% csrf_token %}
          
                    <div class="form-row">
                        <div class="form-group col-md-4 col-lg-12 mb-0">{{ form.bank_name| as_crispy_field }}</div>
                        <div class="form-group col-md-4 col-lg-12 mb-0">{{ form.account_number | as_crispy_field }}</div>
                        <div class="form-group col-md-4 col-lg-12 mb-0">{{ form.routing_number| as_crispy_field }}</div>
                    </div>

                    <div style="display:flex;justify-content: flex-end;">
                        <button type="submit" id="button-adm" class="btn btn-secondary button-adm ml-2">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </aside>
    </main>

{% endblock content %}