<footer class="container-footer">
    <h4 class="footer-text footer-title">
        Eventlinez.
    </h4>
	<p class="footer-text footer-subtitle">Live the moment</p>
    <p class="footer-text footer-subtitle">How it works</p>
    <a href="{% url 'about' %}" class="footer-text footer-subtitle link-to-about">
        About us
    </a>
    <p class="footer-text footer-subtitle" style="padding-right: 0">Contact:
    <a class="footer-text footer-subtitle" style="color: #c6c8ca;padding-left: 0; margin: 0 0 0 10px">
        info@eventlinez.com
    </a>
    </p>
</footer>
