{% load static %}

<nav class="navbar pt-lg-4 pb-lg-4 navbar-expand-lg" style="background: #FFFFFF">
    <a class="navbar-brand ml-lg-5 mr-lg-5" href="{% url 'index' %}">
         <img src="{% static 'img/logo_eventlinez_new.png' %}" alt=" logo ">
    </a>

    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
        <form class="form-inline mr-auto" action="{% url 'shop:search' %}" method="get">
        {% csrf_token %}
        <input class="input-subcribe form-control mr-sm-2"
               type="search" placeholder="Search" aria-label="Search" name="q">
        </form>

        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown{% if 'shop' in request.path %}active{% endif %}">
                <a class="nav-link dropdown-toggle weight-height h6-home" href="{% url 'shop:index' %}" id="navbarDropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </a>

                <div class="dropdown-menu text-mobile" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-mobile" href="{% url 'shop:index' %}">All Events</a>
                    {% for cat in links %}
                        <a class="dropdown-item text-mobile" href="{{cat.get_url}}">{{cat.name}}</a>
                    {% endfor %}
                </div>
            </li>

            {% if request.user.is_authenticated %}
                {% if item_count > 0 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart:cart_detail' %}">
{#                            <i class="fas fa-shopping-cart"></i>#}
                             <h6 class="weight-height h6-home">({{item_count}})</h6>
                        </a>
                     </li>
                {% endif %}

                {% if request.user.promoter %}
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'events_promoter' %}">
{#                             <i class="fas fa-ticket-alt" style="margin-right: 5px"></i>#}
                            <h6 class="weight-height h6-home">Panel Admin</h6>
                        </a>
                    </li>

                     <a class="link-nav" href="{% url 'signout' %}">
{#                         <i class="fas fa-sign-out-alt" style="margin-right: 5px" id="icons-space-left"></i>#}
                          <h6 class="weight-height h6-home">Sign Out</h6>
                    </a>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'guest_list' %}}">
{#                             <i class="fas fa-ticket-alt" style="margin-right: 5px"></i>#}
                            <h6 class="weight-height h6-home">My Tickets</h6>
                        </a>
                    </li>

                    <a class="link-nav" href="#" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle" style="margin-right: 5px"></i>
                        {{ request.user.first_name }}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" onload="">
                        <a class="dropdown-item item-name"  href="{% url 'order:order_history' %}" >Order History</a>
                         <div class="dropdown-divider"></div>
                        <a class="dropdown-item item-name"  href="{% url 'customer_update' %}" >Profile</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item item-name"  href="{% url 'reset_password_costomer' %}" >Reset Password</a>
                    </div>

                    <a class="link-nav" href="{% url 'signout' %}">
                        <i class="fas fa-sign-out-alt" style="margin-right: 5px"
                           id="icons-space-left"></i>
                        <h6 class="weight-height h6-home">
                            Sign Out
                        </h6>

                    </a>
                {% endif %}

            {% else %}
                {% if item_count > 0 %}
                    <a class="link-nav " href="{% url 'cart:cart_detail' %}">
                        <i class="fas fa-shopping-cart"></i>
                        <h6 class="weight-height h6-home">({{item_count}})</h6>

                    </a>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}">
                        <h6 class="weight-height h6-home">Log in</h6>
                    </a>
                </li>

            <li class="nav-item">
                <a class="nav-link"  href="{% url 'signup' %}">
                    <h6 class="weight-height h6-home" style="padding-right: 1.5rem">Sign up</h6>
                </a>
            </li>

            {% endif %}

{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"#}
{#                   aria-haspopup="true" aria-expanded="false">#}
{#                    Dropdown#}
{#                </a>#}
{##}
{#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                    <a class="dropdown-item" href="#">Action</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="#">Another action</a>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <a class="dropdown-item" href="#">Something else here</a>#}
{#                </div>#}
{#            </li>#}
        </ul>

        <a class="buttons-primary mr-lg-5 my-2 my-sm-0 buttons-primary"
           style="padding: 15px; text-decoration: none;"
           href="{% url 'events_promoter' %}">Organize your event</a>
    </div>
</nav>