{% load static %}
<header class="header">
    <a href="{% url 'index' %}" class="link-nav nav__link logo col-lg-2 col-sm-2 float-sm-left">
        <img src="{% static 'img/logo.png' %}" alt=" logo ">
    </a>

    <form class="form-search col-lg-6 col-md-6 col-sm-4 col-xl-6" action="{% url 'shop:search' %}" method="get">
        {% csrf_token %}
        <input class="input-form-search col-sm-10 col-md-7 col-lg-9 col-xl-8" type="search" placeholder="Search" aria-label="Search" name="q">
    </form>

    <nav class="col-lg-3 float-lg-right">
        {% if request.user.is_authenticated %}
            <div class="header-right-log">
                {% if item_count > 0 %}
                    <a class="link-nav nav__link cart" href="{% url 'cart:cart_detail' %}">
                        <i class="fas fa-shopping-cart"></i>({{item_count}})
                    </a>
                {% endif %}
            {% if request.user.promoter %}
                <a class="link-nav link-right nav__link" style="color: #d90075" href="{% url 'order_promoter' %}">
                Panel Admin
                </a>

                 <a class="link-nav nav__link" href="{% url 'signout' %}">Sign Out
                    <i class="fas fa-sign-out-alt" id="icons-space-left"></i>
                </a>
            {% else %}
                <a class="link-nav nav__link" href="#" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Welcome, {{ request.user.first_name }}
                    <i class="fas fa-user-circle"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
					<a href="{% url 'order:order_history' %}" class="dropdown-item">Order History</a>
                </div>
                <a class="link-nav nav__link" href="{% url 'signout' %}">Sign Out
                    <i class="fas fa-sign-out-alt" id="icons-space-left"></i>
                </a>
            {% endif %}
            </div>
        {% else %}
            <div class="header-right">
                {% if item_count > 0 %}
                    <a class="link-nav nav__link" href="{% url 'cart:cart_detail' %}">
                        <i class="fas fa-shopping-cart"></i>({{item_count}})
                    </a>
                {% endif %}
            <a class="link-nav link-right nav__link" style="color: #d90075" href="{% url 'order_promoter' %}">
                Organize your event
            </a>

            <a class="link-nav link-right nav__link " href="{% url 'signup' %}">
                <i style="padding-right: 10px" class="fas fa-user-plus"></i>
                Sign Up
            </a>

            <a class="link-nav link-right nav__link" href="{% url 'signin' %}">
                <i style="padding-right: 10px" class="fas fa-sign-in-alt"></i>
                Sign In
            </a>
            </div>
        {% endif %}
    </nav>

    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>

    <nav class="nave" style="background-color: #a71d2a">
        <ul class="nav__list">
            {% if request.user.is_authenticated %}
                <li class="nav__item">
				    Welcome,
                    <a style="color: #d90075; text-decoration: #d90075" href="#" class="dropdown-toggle" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">{{ request.user.first_name }}
                    <i class="fas fa-user-circle"></i>
                </a>
				    <div class="dropdown-menu dropdown-menu-right">
					<a href="{% url 'order:order_history' %}" class="dropdown-item nav__link">Order History</a>
				    </div>
			    </li>

			    <li>
				    <a class="nav__link" href="{% url 'signout' %}">Sign Out
                        <i class="fas fa-sign-out-alt" id="icons-space-left"></i>
                    </a>
			    </li>
            {% else %}
                <li class="nav__item">
                    <a href="{% url 'signup' %}" class="nav__link">
                        <i class="fas fa-user-plus" id="icons-space"></i>
                        Sign Up </a>
                </li>
                <li class="nav__item">
                <a href="{% url 'signin' %}"  class="nav__link">
                    <i class="fas fa-sign-in-alt" id="icons-space"></i>
                    Sign In </a>
                </li>
            {% endif %}

        </ul>
    </nav>
</header>
