{% load static %}
<header class="header">
    <a href="{% url 'index' %}" class="link-nav nav__link logo">
        <img src="{% static 'img/logo.png' %}" alt=" logo ">
    </a>

    <form class="form-search" action="{% url 'search_app:searchResult' %}" method="get">
        {% csrf_token %}
        <i class="fas fa-search" id="icone"></i>
        <input class="input-form-search" type="search" placeholder="Search" aria-label="Search" name="q">
    </form>

    <nav class="header-right">
        {% if request.user.is_authenticated and request.user.first_name %}
                Welcome,
                <a class=" link-nav nav__link link-right" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.first_name }}
                    <i class="fas fa-user-circle"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
					<a href="{% url 'order:order_history' %}" class="dropdown-item">Order History</a>
                </div>
                <a class="link-nav nav__link link-right" href="{% url 'signout' %}">Sign Out <i class="fas fa-sign-out-alt"></i></a>
        {% else %}
            <a class="link-nav link-right nav__link " href="{% url 'signup' %}">
                <i style="padding-right: 10px" class="fas fa-user-plus"></i>
                Sign Up
            </a>

            <a class="link-nav link-right nav__link" href="{% url 'signin' %}">
                <i style="padding-right: 10px" class="fas fa-sign-in-alt"></i>
                Sign In
            </a>
        {% endif %}
    </nav>

    <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
    </button>

    <nav class="nave">
        <ul class="nav__list">
            {% if request.user.is_authenticated and request.user.first_name %}
                <li class="nav__item">
				    Welcome,
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.first_name }}
                    <i class="fas fa-user-circle"></i>
                </a>
				    <div class="dropdown-menu dropdown-menu-right">
					<a href="{% url 'order:order_history' %}" class="dropdown-item">Order History</a>
				    </div>
			    </li>

			    <li>
				    <a class="nav__link" href="{% url 'signout' %}">Sign Out <i class="fas fa-sign-out-alt"></i></a>
			    </li>

            {% else %}
                <li class="nav__item">
                    <a href="{% url 'signup' %}" class="nav__link">
                        <i class="fas fa-user-plus"></i>
                        Sign Up </a>
                </li>
                <li class="nav__item">
                <a href="{% url 'signin' %}"  class="nav__link">
                    <i class="fas fa-sign-in-alt"></i>
                    Sign In </a>
                </li>
            {% endif %}
                <li class="nav__item">
                    <a href="#" class="nav__link">Best sellers</a>
                </li>

                <li class="nav__item">
                    <a href="#" class="nav__link">New</a>
                </li>

            <li class="nav__item">
                <a href="#" class="nav__link">City</a>
            </li>
        </ul>
    </nav>
</header>
