{% extends "base.html" %}
{% load static %}
{% block title %}
	Order History - Eventlinez
{% endblock %}
{% block content %}
	<div>
		<div class="text-center">
			<br>
			<h1 class="text-center title-order">Order History</h1>
			<br>
			{% if order_details %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="title-table-order">Order Number</th>
						<th class="title-table-order">Order Date</th>
						<th class="title-table-order">Total Amount</th>
						<th class="title-table-order">Status</th>
					</tr>
				</thead>
				<tbody>
					{% for order in order_details %}
					<tr>
						<td><a class="link-order" href="{% url 'order:order_detail' order.id %}">#{{ order.id }}</a></td>
						<td>{{ order.created|date:"d M Y" }}</td>
						<td>{{ order.total }}</td>
						<td><i class="fas fa-check" style="color: #1e7e34"></i>&nbsp;Complete</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p>You have not placed any orders yet.<br><br><a href="{% url 'shop:index' %}" class="btn btn-secondary">Continue shopping</a></p>
			{% endif %}
		</div>
	</div>
	<br>
	<br>
{% endblock %}