{% extends "base-new.html" %}
{% load static %}
{% block title %}
	Order History - Eventlinez
{% endblock %}

{% block content %}
	<section class="container mb-5" style="min-height: 70vh;">
        <h2 class="h2-home p-dark mt-5 mb-4">Order History</h2>

        {% if orders %}
			<table class="table table-striped col-12" style="width: 100%; margin: auto">
				<thead>
					<tr>
						<th class="h6-home p-dark text-center">Order Number</th>
						<th class="h6-home p-dark text-center">Order Date</th>
						<th class="h6-home p-dark text-center">Total Amount</th>
                        <th class="h6-home p-dark text-center">Tickets Qty</th>
						<th class="h6-home p-dark">Status</th>
					</tr>
				</thead>

				<tbody>
                {% for orders in orders %}
					<tr>
						<td class="p-home text-center">
                            <a class="link-order" href="{% url 'order:order_detail' orders.id %}">
                                #{{ orders.id }}
                            </a>
                        </td>
						<td class="p-home text-center">
                            {{ orders.created|date:"d M Y" }}
                        </td>
						<td class="p-home text-center">
                            {{ orders.total }}
                        </td>

                        <td class="p-home text-center">
                            {{ orders.ticket_qty }}
                        </td>
						<td class="p-home">
                            <i class="fas fa-check" style="color: #1e7e34"></i>&nbsp
                            Complete
                        </td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
        {% else %}
            <div class="col-lg-6 col-12 m-auto">
                <p class="h4-home buttons-reset mb-4">
                    You have not placed any orders yet.
                </p>

                <button class="buttons-primary buttons-reset">
                    <a href="{% url 'shop:index' %}" class="h6-home height-17 p-light">
                        Continue shopping
                    </a>
                </button>
            </div>
        {% endif %}

    </section>
{% endblock %}