{% extends "base-new.html" %}
{% load static %}
{% block metadescription %}
	This is the shopping cart page. Proceed to review your items and place the order.
{% endblock %}
{% block title %}Cart - Eventlinez{% endblock %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-warning">{{ message }}</div>
  {% endfor %}
{% endif %}

{% block content %}
	{% if not cart_items %}
        <section class="container mt-4 mb-5" style="min-height: 70vh">
            <div class="text-center">
                <br>
                <h3 class="h3-home">
                    Your shopping cart is empty
                </h3>
                <br>
                <p class="h6-home" style="justify-content: center;">
                    Please click
                    <a class="link-cart" href="{% url 'shop:index' %}"> here </a>
                    to continue shopping.
                </p>
            </div>
        </section>

	{% else %}
    
   
    <script>
  // Replace 'your_pixel_id' with your actual Pixel ID
  var pixelId = '1384266455408952';

  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');

  // Initialize the Pixel with your Pixel ID
  fbq('init', pixelId);

  // Track the purchase event without specifying the value
fbq('track', 'PageView');
fbq('track', 'Purchase');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1384266455408952&ev=PageView&noscript=1"
/></noscript>

    
        <section class="container mt-4 mb-5" style="min-height: 70vh">
            <nav class="col-12" style="padding: 0!important;">
                <a  href="{% url 'index' %}" class="decoration-none d-flex decoration-none">
                    <i class="i-icons fas fa-chevron-left mt-1 mr-1"></i>
                    <h6 class="h6-home p-dark">Back</h6>
                </a>

                <div class="d-flex mb-0">
                    <a class="decoration-none p-home pr-1" href="{% url 'index' %}">
                        Home
                    </a>
                    <p class="p-home pr-1"> / </p>
                    <p class="p-home">Cart</p>
                </div>
            </nav>

            <header class="bg-gradient col-lg-12 v-center">
                <img class="mr-2" src="{% static 'img/ticket.svg' %}" alt="ticket">
                <h3 class="mt-2 h3-home p-light">Cart summary</h3>
            </header>

            <main class="col-12 p-0">
                <article class="d-lg-flex d-none mt-4 border-b">
                    <div class="col-5"> <p class="h6-home">Events</p></div>
                    <div class="col-2"> <p class="h6-home text-center">Ticket</p></div>
                    <div class="col-2"> <p class="h6-home text-center">Quantity</p></div>
                    <div class="col-1"> <p class="h6-home text-center">Unit Price</p></div>
                    <div class="col-1"> <p class="h6-home text-center">Fee</p></div>
                    <div class="col-1"> <p class="h6-home text-center">Amount</p></div>
                </article>

            {% for item in cart_items %}
                <article class="col-12 border-b">
                    <aside class="row">

                        <div class="col-lg-5 col-12 pt-3 d-flex">
                            <a href="{% url 'cart:remove-item' item.id %}" class="mr-2 mt-4">
                                <i class="fas fa-trash-alt icon_remove"></i>
                            </a>

                            <a href="{{item.ticket.event.get_url}}" class="mr-3">
                                <img src="{{item.ticket.event.thumbnail.url }}" alt="img event" class="custom_img">
                            </a>

                            <div>
                                <h6 class="h6-home">{{item.ticket.event.name}}</h6>
                                <p class="p-home p-date">{{ item.ticket.event.event_date }}</p>
                                <p class="p-home">{{ item.ticket.event.city }}</p>
                            </div>
                        </div>

                        <div class="col-lg-2 col-6 pt-lg-5">
                            <p class="h6-home text-lg-center">
                                {{item.ticket.name }}
                            </p>
                        </div>

                        <aside class="col-lg-2 col-6 pt-lg-5 d-justy">

                            {% if item.quantity < item.ticket.qty_available %}
                                <div class="h6-home text-lg-center">
                                    <a href="{% url 'cart:change-quantity' item.id "decrement" %}" class="button-increment ml-2 pl-5px">
                                        <i class="fas fa-minus"></i>
                                    </a>&nbsp;

                                    {{item.quantity }}&nbsp;

                                    {% if item.ticket.qty_available  == 1 %}
                                        <a style="pointer-events: none; cursor: not-allowed;" class="button-increment mr-2 pl-5px"
                                           href="{% url 'cart:change-quantity' item.id "increment" %}">
                                            <i class="fas fa-plus" style=" color: gray!important; text-decoration: none"></i>
                                        </a>

                                        <p style="color: #d90075; margin-top: 5px">Only one ticket available</p>&nbsp;

                                    {% else %}
                                        <a class="plus button-increment mr-2 pl-5px" href="{% url 'cart:change-quantity' item.id "increment" %}">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    {% endif %}

                                </div>

                            {% else %}
                                <div class="h6-home">
                                    <a href="{% url 'cart:change-quantity' item.id "decrement" %}" class="button-increment ml-2 pl-5px">
                                        <i class="fas fa-minus"></i>
                                    </a>&nbsp;

                                    {{item.quantity }}&nbsp;

                                    <a style="pointer-events: none; cursor: not-allowed; background: #909090"
                                       href="{% url 'cart:change-quantity' item.id "increment" %}"
                                       class="button-increment mr-2 pl-5px">
                                        <i class="fas fa-plus" style=" color: white; text-decoration: none"></i>
                                    </a>

                                    <p style="color: #d90075; margin-top: 5px; font-size: 0.8rem">
                                        There are only {{item.quantity }} tickets available
                                    </p>
                                </div>

                            {% endif %}
                        </aside>

                        <div class="col-lg-1 col-12 pt-lg-5 d-flex">
                            <p class="h6-home text-lg-center pr-1 d-flex d-lg-none">Unit Price</p>
                            <p class="h6-home text-lg-center">
                                $ {{item.ticket.price }}
                            </p>
                        </div>

                        <div class="col-lg-1 col-12 pt-lg-5 d-lg-flex d-none">
                            <p class="h6-home text-lg-center">
                                ${{item.fee|floatformat:2 }}
                            </p>
                        </div>

                        <div class="col-lg-1 col-12 pt-lg-5 d-flex">
                            <p class="h6-home text-lg-center pr-1 d-flex d-lg-none">Amount</p>
                            <p class="h6-home text-lg-center">
                                ${{item.price_total| floatformat:2 }}
                            </p>
                        </div>
                    </aside>
                </article>
            {% endfor %}

                <article class="col-12 mt-lg-0 mt-4">
                    <div class="row">
                        <!-- Promocode -->
                        <div class="col-lg-6 col-12">
                            <div class="col-lg-7 col-12 pt-4 pb-4 pb-lg-0">
{#                                <label for="promo_code" class="h6-home">Promo code</label>#}
{#                                <input id="promo_code" type="text"#}
{#                                       name="promo_code" placeholder="Insert code"#}
{#                                       style="border: 1px solid #E9E9E9;border-radius: 6px;"#}
{#                                       class="col-12 input-subcribe" value="{{ promo_code }}">#}
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 pt-4 pb-5">
                            <!-- Total -->
                            <div class="col-lg-12 mb-3 p-0">
                                <div class="d-flex justify-content-end">
                                    <strong class="col-6 h4-home pt-1" >Your total is:</strong>
                                    <strong class="col-6 h3-home d-flex justify-content-end p-0">${{ total|floatformat:2 }}</strong>
                                </div>
                            </div>

                            <!-- Checkout Button-->
                            <div class="col-lg-12" style="padding: 0!important;">
                                <div class="d-lg-flex d-block justify-content-lg-end">
                                    <a class="buttons-primary mb-3 w-10 h6-home center-text-button" href="{% url 'shop:index' %}">
                                        Continue Shopping
                                    </a>

                                    <button id="checkout-btn" onclick="doCheckout()"
                                        class="ml-lg-5 ml-0 buttons-primary h5-home w-10" type="submit">Checkout
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </main>
        </section>
    {% endif %}
{% endblock %}

{% block cart_js %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
