{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>QR Code Generator</title>
      <link rel="stylesheet" href="{% static 'css/ticket.css' %}">
  </head>
  <body>
    <article class="ticket">
      <header class="ticket__wrapper">
        <div class="ticket__header">EVENTLINEZ 🎟</div>
        <div class="ticket__header__name">
          <h6>João Victor Queiroz de Souza</h6>
          <p>1213</p>
        </div>
      </header>

      <div class="ticket__divider">
        <div class="ticket__notch"></div>
        <div class="ticket__notch ticket__notch--right"></div>
      </div>

      <div class="ticket__body">
         <section class="ticket__section">
          <div style="margin: 0 auto">{{ svg|safe }}</div>
{#             <img src="{% static 'img/logo_eventlinez_new.png' %}" alt="sss"/>#}
          <h2>15</h2>
          <p>December 2021</p>
        </section>

        <section class="ticket__section">
          <p>Thursday 21:00</p>
        </section>
      </div>

      <footer class="ticket__footer">
        <h6>Jennifer Lopez - LA Tour</h6>
        <p>Av Hollywood Boulevard, 1283, Los Angeles, Califórnia</p>
      </footer>
    </article>
  </body>
</html>
