{% extends "base-new.html" %}
{% load static %}

{% block title %}
	{{ event.name }} - Eventlinez
{% endblock %}

{% block content %}
<main class="container mt-5">
    <div class="row" style="margin: 0; min-height: 70vh">

         <aside class="col-8" style="padding: 0!important;">
            <img class="m-img-card-banner desktop" style="border-radius: 6px;" src="{{event.image.url}}" alt="{{event.name}}"/>
            <img class="m-img-card-banner mobile" src="{{event.thumbnail.url }}" alt="{{event.name}}"/>
        </aside>

        <article class="col-4" style="padding: 0!important;">
            <div class="col-12" style="background: #FFFFFF; margin-left: 30px; padding: 0!important; height: 645px">
                <aside class="col-12" style="background: linear-gradient(89.39deg, #E10087 -29.61%, #007AFF 135.34%);
                  border-radius: 6px 6px 0px 0px; height: 85px;">
                    <h3 class="h3-home" style="color: #fff0ff;">
                        Select the ticket type
                    </h3>
                </aside>

                <div class="col-12">
                    <h1 class="h1-home pt-2 pt-lg-5">{{event.name}}</h1>
                    <h6 class="h6-home p-date h6-banner mt-lg-4">{{event.event_date|date:"D, d M H:i"}}</h6>
                    <h6 class="h6-home h6-banner mt-lg-4">{{event.city}}</h6>
                </div>
            </div>
        </article>

    </div>

</main>
{% endblock %}
