{% extends "base.html" %}
{% load static %}
{% block metadescription %}{% endblock %}

{% block content %}
    {% if category %}
        <div>
		    <h1 class="text-center my_title">{{category.name}}</h1>
	    </div>
	{% else %}
        <main class="tab-content">
            <section id="background">
                <h1 id="title-home">
                    Enjoy the Experience
                </h1>
                <p id="subtitle-home">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut magna ultrices, efficitur augue nec, rhoncus sapien. Phasellus quis nisi ligula. Vestibulum porta ipsum ac nibh sodales ultrices.
                </p>
                <button class="button-container-body">
                    Button
                </button>
            </section>
<!--------------------------------------->


    <section id="wrapper" style="margin-top: 60px; padding-left: 25px;">
		<div class="row">
        <h2 class="title-section">Shows</h2>
			{% for event in events.object_list %}
            <div class="content-all" style="margin: 60px 20px 0 60px">
                <a href="{{event.get_url}}">
                <img
                    class="item"
                    src="{{event.image.url}}" alt="{{event.name}}"/>
                 </a>
                    <p class="text-default card-data">{{ event.created|date:"d M Y"}}</p>
                <div class="card-event">
                    <h4 class="text-default event-name">{{event.name}}</h4>
                    <p class="text-default event-localization">localization</p>
                    <p class="text-default event-price"> Tickets from ${{event.price}}</p>
                </div>
            </div>
			{% endfor %}

		</div>

		<div class="mx-auto">
			{% if events.paginator.num_pages > 1 %}
				<hr>
				<div class="text-center">
					{% for pg in events.paginator.page_range %}
						<a href="?page={{pg}}" class="btn btn-light btn-sm {% if events.number == pg %}active{% endif %}">{{pg}}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
	</section>
        </main>
	{% endif %}

{% endblock %}