{% extends "base-new.html" %}
{% load static %}
{% block metadescription %}{% endblock %}
{% block title %}
	Eventlinez
{% endblock %}

{% block content %}
    <section class="container container-center pl-0 pr-0">
    {% if detach %}
        <div class="col-12 mt-0 mt-lg-5 div-article">

            <div class="row" style="margin: 0">
                <article class="col-lg-5 desktop" style="padding: 0!important;">
                    <div class="col-12 float-right mt-0 mt-lg-5 div-banner-home">
                        <h1 class="h1-home pt-2 pt-lg-5">{{detach.name}}</h1>
                        <h6 class="h6-home p-date h6-banner mt-lg-4">{{detach.event_date|date:"D, d M H:i"}}</h6>
                        <h6 class="h6-home h6-banner mt-lg-4">{{detach.city}}</h6>
                    </div>
                </article>

                <a href="{{detach.get_url}}" class="col-lg-7 col-12 mobile" style="padding: 0!important;">
                    <img class="m-img-card-banner" src="{{detach.thumbnail.url }}" alt="{{detach.name}}"/>
                </a>

                <aside class="col-lg-7 col-12 desktop" style="padding: 0!important;">
                    <img class="m-img-card-banner" src="{{detach.image.url}}" alt="{{detach.name}}"/>
                </aside>
            </div>

        </div>

    {% else %}
        <section class="col-lg-12 background-container">
            <div class="col-lg-12 ml-lg-5 dpt">
                <h1 class="h1-home h1-banner-home pt-lg-0 pb-lg-0 pt-2 pb-2 mt-xl-5">Enjoy the Experience</h1>
                <h5 class="h5-home" style="color: #FFFFFF">
                    It is more than a ticket , it is an Experience!</h5>
                <button class="buttons-primary h6-home height-17" style="width: 138px!important;">
                    <a href="{% url 'about' %}" style="text-decoration: #FFFFFF; color: #FFFFFF;">About us</a>
                </button>
            </div>
        </section>

{#        <div class="clearfix"></div>#}

    {% endif %}
    </section>


    <section class="container container-center">
        {% if events_all %}
        <div class="col-lg-12 ml-0 mt-4 pl-0">
            <h2 class="h3-home">Events</h2>
        </div>

         <section class="slider">
                <div class="m-slider swiper-container">

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <div class="swiper-wrapper">
                    {% if events_all %}
                        {% for event in events_all %}
                            <aside class="m-slider__item swiper-slide">
                                <div class="m-card" ontouchstart>
                                    <a class="m-card__header" href="{{event.get_url}}">
                                        <img class="m-img-card" src="{{event.thumbnail.url}}" alt="{{event.name}}"/>
                                    </a>

                                    <a class="m-card__body" href="{{event.get_url}}">
                                        <h4 class="h4-home">{{event.name}}</h4>

                                        <h6 class="h6-home p-date">{{event.event_date|date:"D, d M H:i"}}</h6>
                                        <h6 class="h6-home">{{event.city}}</h6>
                                    </a>
                                </div>
                            </aside>
                        {% endfor %}
                    {% else %}
                        <h2>No events at the moment</h2>
                    {% endif %}
                    </div>
                </div><!-- .m-slider // -->
            </section><!-- .slider // -->

        {% else %}
         <div class="col-lg-12 ml-0 mt-4 mb-4 pl-0">
            <h2 class="h3-home">Upcoming Event</h2>
        </div>

        <section class="slider">
            <div class="m-slider swiper-container">

              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>

		        <div class="swiper-wrapper">
                {% if events_futures %}
                    {% for event in events_futures %}
			            <aside class="m-slider__item swiper-slide">
                            <div class="m-card" ontouchstart>
					            <a class="m-card__header" href="{{event.get_url}}">
                                    <img class="m-img-card" src="{{event.thumbnail.url}}" alt="{{event.name}}"/>
                                </a>

                                <a class="m-card__body" href="{{event.get_url}}">
						            <h4 class="h4-home">{{event.name}}</h4>

                                    <h6 class="h6-home p-date">{{event.event_date|date:"D, d M H:i"}}</h6>
                                    <h6 class="h6-home">{{event.city}}</h6>
                                </a>
				            </div>
                        </aside>
                    {% endfor %}
                {% else %}
                    <h2>No events at the moment</h2>
                {% endif %}
                </div>
	        </div><!-- .m-slider // -->
        </section><!-- .slider // -->

        <div class="col-lg-12 ml-0 mt-4 pl-0">
            <h2 class="h3-home">Past Events</h2>
        </div>


        <section class="slider">
            <div class="m-slider swiper-container">

            <!-- If we need navigation buttons -->
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>

		        <div class="swiper-wrapper">
                {% if events_old %}
                    {% for event in events_old %}
			            <aside class="m-slider__item swiper-slide" >
                            <div class="m-card" ontouchstart>
					            <a class="m-card__header" href="{{event.get_url}}">
                                        <img class="m-img-card" src="{{event.thumbnail.url}}" alt="{{event.name}}"/>
                                </a>

                                <a class="m-card__body" href="{{event.get_url}}">
						            <h4 class="h4-home">{{event.name}}</h4>
                                    <h6 class="h6-home p-date">{{event.event_date|date:"D, d M H:i"}}</h6>
                                    <h6 class="h6-home">{{event.city}}</h6>
                                </a>
				            </div>
                        </aside>
                    {% endfor %}
                {% else %}
                    <h2>No events at the moment</h2>
                {% endif %}
                </div>
	        </div><!-- .m-slider // -->
        </section><!-- .slider // -->
{% endif %}
    </section>

    <section class="col-12 mt-5 subcribe">
        <form class="subcribe-intern div-center" action="{% url 'shop:search' %}" method="get">
            <h2 class="h2-home t-center mb-4 mt-5">Not find what you were looking for?</h2>
            {% csrf_token %}
            <input class="col-lg-8 col-sm-10 input-subcribe center-block"
                   type="search" placeholder="Search for events" aria-label="Search" name="q">
        </form>
    </section>


{% endblock %}