{% extends "base.html" %}
{% load static %}
{% block metadescription %}{% endblock %}

{% block content %}
    <main class="col-lg-12 col-sm-12" style="padding-right: 0">
        <section class="col-lg-12 float-right" id="background">
            <h1 id="title-home" style="width: max-content;">Enjoy the Experience</h1>
            <p id="subtitle-home">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut magna ultrices, efficitur augue nec, rhoncus sapien. Phasellus quis nisi ligula. Vestibulum porta ipsum ac nibh sodales ultrices.
            </p>
            <button class="button-container-body">
                Button
            </button>
        </section>
        <div class="clearfix"></div>
    </main>


    <header class="row col-lg-12 col-sm-12 header-filter-home">
        <form class="col-lg-12 mobile" action="{% url 'search_app:searchResult' %}" method="get" style="width: 100%; background-color: #a71d2a">
            {% csrf_token %}
            <input class="input-form-search col-lg-10" type="search" placeholder="Search" aria-label="Search" name="q" style="width: 70%; margin: 20px 0 20px 30px">
        </form>

        {% if category %}
            <div class="col-lg-10 col-sm-1 div-title-home" >
                <h4  class="title-section"> {{ category.name }}</h4>
            </div>
	    {% else %}
            <div class="col-lg-10 col-sm-1 div-title-home">
                <h4  class="title-section"> Events</h4>
            </div>
	    {% endif %}

        <nav class="col-lg-2 col-sm-4 float-right text-center nav-filter">
            <ul>
                <li class="nav-item dropdown{% if 'shop' in request.path %}active{% endif %}">
                    <a class="nav-link dropdown-toggle text-bk" href="{% url 'shop:index' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All
                    </a>
                    <div class="dropdown-menu text-mobile" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-mobile" href="{% url 'shop:index' %}">All Events</a>
                    {% for cat in links %}
                        <a class="dropdown-item text-mobile" href="{{cat.get_url}}">{{cat.name}}</a>
                    {% endfor %}
                    </div>
                </li>
            </ul>
        </nav>

        <div class="clearfix"></div>
    </header>

    <section id="wrapper" class="col-xl-6">
		<div class="row">
            {% if events.object_list %}
                {% for event in events.object_list %}
                    <div class="content-all">
                        <a href="{{event.get_url}}">
                            <img
                            class="item"
                            src="{{event.image.url}}" alt="{{event.name}}"/>
                        </a>
                        <p class="text-default card-data">{{ event.event_date|date:"d M Y"}}</p>
                        <div class="card-event">
                            <h4 class="text-default event-name">{{event.name}}</h4>
                        </div>
                    </div>
			    {% endfor %}
            {% else %}
                <h2>No events at the moment</h2>
            {% endif %}
		</div>

		<div class="mx-auto">
			{% if events.paginator.num_pages > 1 %}
				<hr>
				<div class="text-center">
					{% for pg in events.paginator.page_range %}
						<a href="?page={{pg}}" class="btn btn-light btn-sm {% if events.number == pg %}active{% endif %}">{{pg}}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
	</section>



{% endblock %}