{% extends "base_promoter.html" %}
{% load static %}
{% block title %} Payout - Panel Admin{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4 pb-4 title-dast" style="color: #49454D">
                Account Information
            </h1>

                <section class="container" style="min-height: 75vh">
                    <main class="col-12 mt-5 mb-5" style="min-height: 50vh; margin: auto;">
                        <div class="col-12 pt-5"
                             style="justify-content: center;">

                            <i style="display: flex; justify-content: center;color: #49454D"
                               class="fas fa-info-circle fa-3x"></i>
                            <h3 class="col-12 h3-home mt-4"
                                style="text-align: center;">
                                Register your information
                            </h3>

                            <h6 class="col-lg-6 col-12 h6-home mt-0 mt-lg-4"
                                style="text-align: center;margin: auto">
                                Fill in some data on the Connect platform and have the possibility
                                of receiving your sales directly into your bank account.
                            </h6>
                        </div>

                        <div class="d-flex mt-3" style="justify-content: center">

                            <a href="{{ link_connect }}" id="button-adm"
                               class="btn btn-secondary"
                               style="margin-top: 10px auto auto auto;justify-content: center">
                                Access Connect</a>
                        </div>
                    </main>
                </section>
        </div>
    </main>
{% endblock content %}