{% extends "base_promoter.html" %}
{% load converts %}
{% load static %}
{% block title %} Payout - Panel Admin{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main>
        <div class="container-fluid">
            {% if balance.available %}
                <div class="d-flex pt-5 pb-2">

                    <div class="col-10 d-flex pl-0">
                    <i style="font-size: 1.5rem;color: #49454D"
                       class="fas fa-dollar-sign mt-1"></i>
                    <h1 class="title-dast pl-2" style="color: #49454D">
                        Payout
                    </h1>
                    </div>

                    <div class="col-2 d-flex justify-content-end">

                        <a href="{{ link_connect }}" id="button-adm"
                               class="btn btn-secondary"
                               style="margin-top: 10px auto auto auto;justify-content: center">
                                Update
                        </a>
                        </div>
                </div>





                 {% for sald_available in balance.available %}
                     {% if sald_available.amount == 0 %}
                         <h5 class="h5-promoter" style="color: #0a0a0a">
                             You currently have no available balance.
                         </h5>
                     {% else %}
                         <h5 class="h5-promoter" style="color: #0a0a0a">
                             The transfers to the bank account in the week will be every Tuesday.
                             It may take up to two days for the account to be registered.
                         </h5>
                    {% endif %}
                {% endfor %}


                {% if not promoter.bankaccount %}
                <section class="container" style="min-height: 75vh">
                    <main class="col-12 mt-5 mb-5" style="min-height: 50vh; margin: auto;">
                        <div class="col-12 pt-5"
                             style="justify-content: center;">

                            <i style="display: flex; justify-content: center;color: #49454D"
                               class="fas fa-info-circle fa-3x"></i>
                            <h3 class="col-12 h3-home mt-4"
                                style="text-align: center;">
                                Register your information
                            </h3>

                            <h6 class="col-lg-6 col-12 h6-home mt-0 mt-lg-4"
                                style="text-align: center;margin: auto">
                                Update your data on the Connect platform and
                                have the possibility to receive your sales directly into your bank account.
                            </h6>
                        </div>

                        <div class="d-flex mt-3" style="justify-content: center">

                            <a href="{{ link_connect }}" id="button-adm"
                               class="btn btn-secondary"
                               style="margin-top: 10px auto auto auto;justify-content: center">
                                Access Connect</a>
                        </div>
                    </main>
                </section>
            {% else %}

                <section class="col-12 pl-0 pr-0">
                    <header class="col-12 mt-4 mb-5 header-box">
                        <div class="row">
                            <aside class="col-8 pr-0 pl-0 d-block d-lg-flex">

                                <div class="col-12 col-lg-6 pl-0 pl-lg-2 d-flex d-lg-block box-small">

                                    {% for sald_available in balance.available %}
                                        <h4 class="h4-promoter border-details"
                                            style="line-height: 25px;color: #49454D">
                                            Balance Available:
                                        </h4>


                                        <div class="d-flex pl-4">
                                            <i class="fas fa-dollar-sign pt-3" style="font-size: 1.5rem"></i>
                                            <h2 class="h2-promoter pt-2 pl-2" style="color: #0a0a0a">
                                                {{ sald_available.amount|divise:cents }}
                                            </h2>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="col-12 col-lg-6 pl-4 d-flex d-lg-block box-small">
                                    {% for sald_pending in balance.pending%}
                                        <h4 class="h4-promoter border-details"
                                            style="line-height: 25px;color: #49454D">
                                            Balance Pending:
                                        </h4>

                                        <div class="d-flex pl-4">
                                            <i class="fas fa-dollar-sign pt-3" style="font-size: 1.5rem"></i>
                                            <h2 class="h2-promoter pt-2 pl-2" style="color: #0a0a0a">
                                                {{ sald_pending.amount|divise:cents }}
                                            </h2>
                                          </div>
                                    {% endfor %}
                                </div>
                            </aside>

                            <aside class="col-4 pt-lg-3 border-card">
                                <div class="div-flex">
                                    <h4 class="h4-promoter border-details" style="line-height: 25px;">
                                        Bank Information
                                    </h4>
                                </div>

                                <article class="card-body pt-2 pl-0 pb-0">
                                    <div class="d-block pr-0 pl-4">
                                        {% for information_bank in bank_information.external_accounts %}
                                            <p class="p-promoter mb-1" style="color: #7B7B7B;">
                                                <b style="color: #49454D;">
                                                    Bank name:
                                                </b>
                                                {{ information_bank.bank_name }}
                                            </p>

                                            <p class="p-promoter mb-1" style="color: #7B7B7B;">
                                                <b style="color: #49454D;">
                                                    Account number:
                                                </b>
                                                ******** {{ information_bank.last4 }}
                                            </p>

{#                                            000123456789#}
                                            <p class="p-promoter"
                                               style="color: #7B7B7B;">
                                                <b style="color: #49454D;">Routing Number: </b>
                                                {{ information_bank.routing_number }}
                                            </p>

                                        {% endfor %}
                                    </div>
                                </article>
                            </aside>

                        </div>
                    </header>
                </section>

                {% endif %}

                <section>
                    {% if payouts_history %}
                        <div class="col-lg-12" style="display:flex;">
                            <div class="col-lg-10 col-md-5"></div>
                            <div class="col-lg-2 col-md-7 div-adm-newevent" style="justify-content: flex-end;">

                                <a href="{% url 'payout_pdf_view' %}"
                                   id="button-adm" class="btn btn-secondary"
                                   style="margin-top: 10px;">
                                        Export
                                </a>
                            </div>
                        </div>


                        <main class="card-checkin d-lg-none d-flex">
                        {% for payouts_history in payouts_history %}
                            <article class="card m-lg-2 m-0 mb-4"
                                     style="min-width: 20rem;max-width: 20rem; border-radius: 10px;">

                                <section class="card-body" style="padding-left: 0px; padding-bottom: 0">
                                    <div style="display: block; padding-right: 0; padding-left: 20px" >
                                        <div style="display: flex; justify-content: flex-start;; flex-direction: row">
                                            <h5 class="h6-promoter ml-2">
                                                 <b style="color: #383838;">Payment Date</b>
                                                {{ payouts_history.created|current_time }}
                                            </h5>
                                        </div>

                                        <p class="p-promoter" style="color: #7B7B7B;">
                                            <b style="color: #383838;">Amount Paid: </b>{{payouts_history.amount }}
                                        </p>

                                        <p class="p-promoter" style="color: #7B7B7B;">
                                            <b style="color: #383838;">Status: </b>{{payouts_history.status}}
                                        </p>

                                    </div>
                                </section>
                            </article>
                        {% endfor %}
                    </main>

                    <!-- TABLE VENDOR - COMPUTER -->
                        <main class="d-lg-flex d-none">
                        <aside class="table-responsive">
                            <table class="table table-bordered" id="dataTable" style="width: 99%">
                                <thead>
                                <tr style="background-color:#F4F4F4;">
                                    <th class="text-table text-bold">Payment Date</th>
                                    <th class="text-table text-bold">Amoun Paid</th>
                                    <th class="text-table text-bold">Status</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for payouts_history in payouts_history %}
                                    <tr>
                                        <td class="text-table">
                                            {{ payouts_history.created|current_time }}
                                        </td>

                                        <td class="text-table">
                                            {{ payouts_history.amount|divise:cents }}
                                        </td>

                                        <td class="text-table">
                                            <span style="background: rgba(51, 186, 29, 0.1);border-radius: 12px;
                                                        color: #33BA1D; padding: 0 1rem">
                                                {{ payouts_history.status }}
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </aside>
                    </main>

                    {% else %}
                        <section class="container" style="min-height: 75vh">
                            <main class="col-12" style="min-height: 50vh; margin: 5rem auto;">
                                <div class="col-12 pt-5 mt-5" style="justify-content: center">
                                    <i class="fas fa-exchange-alt fa-2x"
                                       style="display: flex; justify-content: center; color: #49454D;"></i>
                                    <h3 class="col-12 h3-home mt-3" style="text-align: center;">No payouts</h3>
                                    <h6 class="col-lg-6 col-12 h6-home mt-0 mt-lg-4"
                                        style="text-align: center;margin: auto">
                                        There are no payouts associated with this account.
                                    </h6>

                                </div>
                            </main>
                        </section>
                    {% endif %}

                </section>

            {% else %}
                <section class="container" style="min-height: 75vh">
                    <main class="col-12 mt-5 mb-5" style="min-height: 50vh; margin: auto;">
                        <div class="row">
                            <aside class="col-lg-6 pt-lg-4">
                                <div class="col-12 pt-5" style="justify-content: center">
                                    <h3 class="col-12 h3-home mt-5" style="text-align: center;">
                                        Transfer Information
                                    </h3>
                                    <h6 class="col-lg-10 col-12 h6-home mt-0 mt-lg-4"
                                        style="text-align: center;margin: auto">
                                        The transfers to the bank account in the week will be every Tuesday.
                                        It may take up to two days for the account to be registered.
                                    </h6>
                                </div>

                            </aside>

                            <article class="col-lg-6 mt-5 mt-lg-2 pt-lg-5">
                                <div style="width: 100%; margin: auto">
                                    <article id="event-div">
                                        <h4 class="text-default centralized" style="font-size: 1rem">
                                            Register Bank Information
                                        </h4>
                                        <a href="{{ link_connect }}" id="button-adm"
                                           class="btn btn-secondary" style="margin-top: 10px;">Create</a>
                                    </article>
                                </div>
                            </article>

                        </div>
                    </main>
                </section>
            {% endif %}
        </div>
    </main>
{% endblock content %}