{% extends "base_promoter.html" %}
{% load converts %}
{% load static %}
{% block title %} Payout - Panel Admin{% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main>
        <div class="container-fluid">
                <div class="d-flex pt-5 pb-2">
                    <i style="font-size: 1.5rem;color: #49454D"
                       class="fas fa-dollar-sign mt-1"></i>
                    <h1 class="title-dast pl-2" style="color: #49454D">
                        Bank Information
                    </h1>
                </div>

                 {% for sald_available in balance.available %}
                     {% if sald_available.amount == 0 %}
                         <h5 class="h5-promoter" style="color: #0a0a0a">
                             You currently have no available balance.
                         </h5>
                     {% else %}
                         <h5 class="h5-promoter" style="color: #0a0a0a">
                             The transfers to the bank account in the week will be every Tuesday.
                             It may take up to two days for the account to be registered.
                         </h5>
                    {% endif %}
                {% endfor %}

            {% if bank_information_intern %}
                <section class="col-12 pl-0 pr-0">
                    <header class="col-12 mt-4 mb-5 header-box">

                        <aside class="col-12 col-lg-4 pt-lg-3 pt-1 pb-1 border-card">
                            <div class="div-flex">
                                <h4 class="h4-promoter border-details" style="line-height: 25px;">
                                    Bank Information
                                </h4>
                            </div>

                            <article class="card-body pt-2 pl-0 pb-0">
                                <div class="d-block pr-0 pl-4">
                                    <p class="p-promoter mb-1" style="color: #7B7B7B;">
                                        <b style="color: #49454D;">
                                            Bank name:
                                        </b>
                                        {{ bank_information_intern.bank_name }}
                                    </p>

                                    <p class="p-promoter mb-1" style="color: #7B7B7B;">
                                        <b style="color: #49454D;">
                                            Account number:
                                        </b>
                                        ******** {{ bank_information_intern.last4 }}
                                    </p>

{#                                            000123456789#}
                                    <p class="p-promoter"
                                       style="color: #7B7B7B;">
                                        <b style="color: #49454D;">Routing Number: </b>
                                        {{ bank_information_intern.routing_number }}
                                    </p>
                                </div>
                            </article>
                        </aside>
                    </header>
                </section>
            {% else %}
                <section class="container" style="min-height: 75vh">
                    <main class="col-12" style="min-height: 50vh; margin: 5rem auto;">
                        <div class="col-12 pt-5 mt-5" style="justify-content: center">
                            <h3 class="col-12 h3-home mt-3" style="text-align: center;">
                                No bank information registered.
                            </h3>
                        </div>
                    </main>
                </section>
            {% endif %}
        </div>
    </main>
{% endblock content %}