{% extends "base.html" %}
{% load static %}
{% csrf_token %}
{% block title %}
	Ticket - Eventlinez!
{% endblock %}
{% block content %}
	<main style="min-height: 70vh;">
        <section class="col-lg-12 float-right" style="height: 254px;" id="background"></section>
        <div class="clearfix"></div>
        <section class="col-lg-11 col-sm-12 pt-4 pb-2 m-auto">
            <h2 class="text-default text-secondary-default pl-lg-4 pl-0">
                My Tickets
            </h2>
        </section>

        <section class="col-lg-11 sect-tab-ticket">
{#            <h6 class="text-default" style="font-size: 20px; line-height: 27px; color: #000000;">#}
{#                Events#}
{#            </h6>#}

            <div class="col-lg-12 col-sm-12" style="border-top: 1px solid #D7D7D7; margin-bottom: 30px"></div>

            <table class="table col-lg-12">
                    <tr>
                        <th>Tickets</th>
                        <th>Event</th>
                        <th>Guest Name</th>

                    </tr>

                    {% for tickets in tickets %}
                        <tr>
                            <td class="td-ticket">
                                <p class="text-default text-default-mobile"> {{ tickets.id }}</p>
                            </td>
                            <td class="td-ticket">
                                <p class="text-default text-default-mobile"> {{ tickets.event }}</p>
                            </td>
                            <td class="text-default editable td-ticket" data-id="{{ tickets.id }}"
                                data-type="guest_name">

                                <input type="guest_name" placeholder="Type it Guest Name"
                                       class="input-data form-control-ticket "
                                       value="{{ tickets.guest_name|default_if_none:'' }}">
                            </td>
                        </tr>

                    {% endfor %}
                    </table>

        </section>
	</main>

{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/guest-name-ticket.js' %}"></script>
{% endblock %}